{% extends "layout.html" %}

{% block title %}Create Course{% endblock %}
{% block active %}Courses{% endblock %}

{% block main %}
<h1>Create Course</h1> <br>
<form autocomplete="off" method="post" id="create" name="create" enctype="multipart/form-data">
    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="id" name="id" placeholder="Course ID" required>
        <label for="id">Course ID</label>
    </div>

    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="name" name="name" placeholder="Course Name" required>
        <label for="name">Course Name</label>
    </div>

    <button class="btn btn-secondary fw-bold" id="open_summary" type="button">Open Markdown Editor</button>
    <div class="row" id="summary" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Summary</u></h4>
            <div id="summary_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Summary</u></h4>
            <div id="summary_html"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_summary" name="summary_md">
    <input type="hidden" id="html_inp_summary" name="summary_html">

    <button class="btn btn-secondary fw-bold" id="open_description" type="button">Open Markdown Editor</button>
    <div class="row" id="description" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Description</u></h4>
            <div id="description_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Description</u></h4>
            <div id="description_html"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_desc" name="description_md">
    <input type="hidden" id="html_inp_desc" name="description_html">

    <div class="form-control mb-3 border-0">
        <input type="checkbox" id="public" name="public">
        <label for="pulbic">Public?</label>
    </div>

    <input class="btn btn-primary fw-bold" type="submit" id="submit" name="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const md_raw_summary = document.querySelector("#summary_md_raw");
    const html_summary = document.querySelector("#summary_html");
    var summary_opened = false;
    md_raw_summary.innerText = "The markdown for the summary goes here...";
    html_summary.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
    document.querySelector("#open_summary").addEventListener("click", function() {
        let inp_summary_data = "Type your summary markdown here...";
        if (summary_opened) inp_summary_data = md_raw_summary.innerText;
        md2html_interactive(inp_summary_data).then((result) => {
            md_raw_summary.innerText = result.md;
            html_summary.innerHTML = result.html;
            renderLatex();
            document.querySelector("#md_inp_summary").value = result.md;
            document.querySelector("#html_inp_summary").value = result.html;
            if (!summary_opened) summary_opened = true;
        }).catch((e) => { console.error(e); });            
    });

    const md_raw_description = document.querySelector("#description_md_raw");
    const html_description = document.querySelector("#description_html");
    var desc_opened = false;
    md_raw_description.innerText = "The markdown for the description goes here...";
    html_description.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
    document.querySelector("#open_description").addEventListener("click", function() {
        let inp_desc_data = "Type your description markdown here...";
        if (desc_opened) inp_desc_data = md_raw_description.innerText;
        md2html_interactive(inp_desc_data).then((result) => {
            md_raw_description.innerText = result.md;
            html_description.innerHTML = result.html;
            renderLatex();
            document.querySelector("#md_inp_desc").value = result.md;
            document.querySelector("#html_inp_desc").value = result.html;
            if (!desc_opened) desc_opened = true;
        }).catch((e) => { console.error(e); });
    });
</script>
{% endblock %}
