{% extends "layout.html" %}

{% block title %}Dashboard - {{ data['name'] }}{% endblock %}
{% block active %}Organizations{% endblock %}

{% block main %}
<h1>Dashboard - {{ data['name'] }}</h1>
<div id="confirm" style="display: none;">
    <form method="post" style="margin-bottom: 1rem;">
        <input class="btn btn-danger" type="submit">
        <input type="hidden" name="org_id">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
<a class="badge bg-primary rounded-pill growable p-2 fs-6" href="/organization/{{ data['id'] }}">Back to organization</a>
<div class="row">
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-green">
            <div class="card-body">
                <h5 class="card-title"><b>Members &amp; Security</b></h5>
                <p class="card-text">Manage the organization description and members.</p>
                <div class="btn-group btn-group d-flex" role="group" aria-label="Manage Members &amp; Description">
                    <a class="btn btn-outline-primary flex-fill" href="/organization/{{ data['id'] }}/members" role="button">Manage Members</a>
                    <a class="btn btn-outline-primary flex-fill" href="/organization/{{ data['id'] }}/edit" role="button">Edit Organization</a>
                    {% if data['private'] %}
                    <a class="btn btn-outline-primary" href="/organization/{{ data['id'] }}/changepassword" role="button">Change Join Password</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
        <div class="col-sm-6 admin-card">
            <div class="card bg-ld-red">
                <div class="card-body">
                    <h5 class="card-title"><b>Data Management</b></h5>
                    <p class="card-text">Manage the organization data, including problems, contests, and content.</p>
                    {% if data['private'] %}
                        <div class="btn-group btn-group-sm d-flex" role="group" aria-label="Contests &amp; Problems">
                            <a class="btn btn-outline-primary flex-fill" href="/problems?category={{ data['name'] }}" role="button">View Private Problems</a>
                            <a class="btn btn-outline-primary flex-fill" href="/contests" role="button">View Private Contests</a>
                        </div>
                        <div class="btn-group btn-group-sm d-flex mt-2" role="group" aria-label="Contests &amp; Problems">
                            <a class="btn btn-outline-secondary flex-fill" href="/organization/{{ data['id'] }}/createproblem" role="button">Create Private Problem</a>
                            <a class="btn btn-outline-secondary flex-fill" href="/organization/{{ data['id'] }}/createcontest" role="button">Create Private Contest</a>
                        </div>
                    {% endif %}
                    {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                        <a class="btn btn-danger org-resetpass mt-2" href="#" role="button">Reset Password</a>
                        <hr>
                        <span><b style="color: red!important;">WARNING:</b> Deleting an organization is <b>irreversible</b>.</span>
                        <br>
                        <a class="btn btn-outline-danger mt-1" href="/organization/{{ data['id'] }}/delete" role="button">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script>
    function createForm(msg, path, orgId) {
        document.getElementById("confirm").style.display = "";
        document.querySelector("#confirm .btn").setAttribute("value", msg);
        document.querySelector("#confirm form").setAttribute("action", path);
        document.querySelector("#confirm input[name=org_id]").setAttribute("value", orgId);
    }

    for (let node of document.getElementsByClassName("org-resetpass")) {
        node.addEventListener("click", function() {
            var msg = `Are you sure you want to reset this organization's password? Click here to confirm.`;
            createForm(msg, "/organization/{{ data['id'] }}/resetpass", {{ data['id'] }});
        });
    }
</script>
{% endblock %}
