{% extends "layout.html" %}

{% block title %}Delete "{{ data }}"{% endblock %}
{% block active %}Organizations{% endblock %}

{% block main %}
<h1 >Delete "{{ data }}"</h1>
<p style="color: red!important;">
    Are you sure you want to delete the organization "{{ data }}"?
    This action is irreversible. Problems associated with this organization will NOT be deleted and <b>will be made public</b>.
</p>
<form method="post">
    <input class="btn btn-lg btn-outline-danger problem-submit-button" type="submit" value="Confirm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
