{% extends "layout.html" %}

{% block title %}Organizations{% endblock %}
{% block active %}Organizations{% endblock %}

{% block main %}
<style>
    .nav-tab {
        margin-left: auto;
        justify-content: flex-end;
    }

    .active-tab {
        background-color: #f6f6f6!important;
        border: solid #741f22 2px!important;
    }

    .tab {
        color: black!important;
    }

    .dark .active-tab {
        background-color: #2f2f2f!important;
        border: solid lightgray 2px!important;
    }

    .dark .tab {
        color: white!important;
    }
</style>

<div class="flex-desktop">
    <h1 style="flex: 3.5">Organizations</h1>
    <ul class="nav nav-tabs" style="flex: 1">
        <li class="nav-item"><a class="tab nav-link {% if not private %}active-tab{% endif %}" aria-current="page" href="/organizations/public">Public</a></li>
        <li class="nav-item"><a class="tab nav-link {% if private %}active-tab{% endif %}" aria-current="page" href="/organizations/private" style="margin-left: 5px;">Private</a></li>

    </ul>
</div>


{% if check_perm(["ADMIN", "SUPERADMIN"]) %}
    <a class="btn btn-outline-success" href="/organizations/create" role="button" style="margin-top: 10px;">Create Organization</a>
{% else %}
    <br>
    <p>If you would like to create an organization, please contact us in our <a href="https://discord.gg/zUdmCWPT3f">Discord Server</a>. School clubs get free private organizations!</p>
{% endif %}
<div style="overflow-x: auto;">
    <table class="table table-hover table-full-width">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 35%;">Name</th>
                <th scope="col" style="width: 25%;">Owner</th>
                <th scope="col" style="width: 20%;">Members</th>
                <th scope="col" style="width: 20%;">Private</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr {% if row['id'] in owned %}data-toggle="tooltip" title="You own this organization."{% endif %}>
                    <td {% if row['id'] in owned %}class="client-username"{% endif %}><a href="/organization/{{ row["id"] }}">{{ row["name"] }}</a></td>
                    <td {% if row['id'] in owned %}class="client-username"{% endif %}><a href="/users/{{ row['owner_username'] }}/profile">{{ row["owner_username"] }}</a></td>
                    <td {% if row['id'] in owned %}class="client-username"{% endif %}><a href="/organization/{{ row["id"] }}/members">{{ row["users"] }}</a></td>
                    <td {% if row['id'] in owned %}class="client-username"{% endif %}>{{ 'Yes' if row["private"]  else 'No' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
