{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block active %}Home{% endblock %}

{% block main %}
<h1 class="mb-5 text-center pt-4">Popular Squares</h1>
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm rounded">
            <img src="static/square5.png" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">potpotpot</h5>
                <p class="card-text">potpotpot</p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm rounded">
            <img src="static/square3.png" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">Awajiba Generator Art</h5>
                <p class="card-text">Awajiba Generator Art</p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm rounded">
            <img src="static/square2.png" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">Awajiba Generator Art</h5>
                <p class="card-text">Awajiba Generator Art</p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="nav">
    <center>
    <div class="fs-3 fw-bold mt-4 mb-2" style="color: white;">QUICK SEARCH</div>
    <div class="fs-6 mb-3" style="color: white">Click these to automatically search for similar squares.</div>
    <ul class="quicksearch-list">
        <li class="quicksearch-item">
            <a href="#" class="quicksearch-link">Add a Quick Link</a>
        </li>
        <li class="quicksearch-item">
            <a href="#" class="quicksearch-link">Add a Quick Link</a>
        </li>
        <li class="quicksearch-item">
            <a href="#" class="quicksearch-link">Add a Quick Link</a>
        </li>
        <li class="quicksearch-item">
            <a href="#" class="quicksearch-link">Add a Quick Link</a>
        </li>
        <li class="quicksearch-item">
            <a href="#" class="quicksearch-link">Add a Quick Link</a>
        </li>
        <li class="quicksearch-item">
            <a href="#" class="quicksearch-link">Add a Quick Link</a>
        </li>
    </ul>
</center>
</div>

{% endblock %}