{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block active %}Home{% endblock %}

{% block main %}
<h1 class="my-5 text-center pt-4">Popular Squares</h1>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4" style="position: relative;">
            <div class="card-body">
                <div class="container-fluid text-center">
                    <img src="/static/menu.png" class="card-img-top">
                    <h3 class="card-title mt-3">Zombiewars 0.5</h3>
                    <p class="mb-1">Grinding the latest beta of Zombiewars and having a load of fun</p>
                    <i class="fas fa-person d-md-inline-block"></i>
                    <p class="my-1 d-md-inline-block">6969</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4" style="position: relative;">
            <div class="card-body">
                <div class="container-fluid text-center">
                    <img src="/static/cover.png" class="card-img-top">
                    <h3 class="card-title mt-3">Zombiewars 3</h3>
                    <p>Going back to the old times and grinding the ancient version of Zombiewars blah blah...</p>
                    <p class="blockquote-footer mb-1">See More</p>
                    <i class="fas fa-person d-md-inline-block"></i>
                    <p class="my-1 d-md-inline-block">420</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="nav">
    <div class="sb-sidenav-menu-heading">Saved</div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Math
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="layout-static.html">Static Navigation</a>
            <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
        </nav>
    </div>

    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
        Zombiewars
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="layout-static.html">Zombiewars latest</a>
            <a class="nav-link" href="layout-sidenav-light.html">Old zw</a>
        </nav>
    </div>
</div>
{% endblock %}