<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#0d6efd">

        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/favicon.png" rel="shortcut icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %} &middot; StudySquare</title>
        <style>
            .btn {
                border: none;
                border-radius: 12px;
                padding: 0.75rem;
                transition: background-color 0.3s ease, transform 0.2s ease;
                font-size: 1.1rem;
              }
              
            .btn-primary {
              background-color: #2fa174;
            }

            .btn:hover {
              transform: scale(1.05);
            }

            .btn-primary:hover {
              background-color: #4dbf93;
            }

            .btn-secondary:hover {
              background-color: #5a6268;
            }
            
            /* Style for the list */
            .quicksearch-list {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            
            /* Style for each item */
            .quicksearch-item {
                margin-bottom: 1em;
                width: 80%;
            }
            
            /* Style for the link */
            .quicksearch-link {
                display: block;
                padding: 0.5em 1em;
                background-color: #ffffff;
                border: 1px solid #e0e0e0;
                border-radius: 0.5em;
                color: #333;
                font-size: 1em;
                text-align: center;
                text-decoration: none;
                transition: background-color 0.3s ease, transform 0.3s ease;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            
            /* Hover effect for the link */
            .quicksearch-link:hover {
                background-color: lightblue;
                transform: scale(1.02);
            }

            .border-standard {
                border: 2px solid #2fa174!important;
                border-top: none!important;
            }
        </style>
        {% block preload %}{% endblock %}
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark py-5" style="background-color: #494073; box-shadow: 0 0.75em 1em rgba(0, 0, 0, 0.3);">
            <!-- Navbar Brand-->
            <a href="/"><img src="/static/favicon.png" style="width: 4rem;" class="me-4 ms-4"></a>
            <a href="/" class="text-decoration-none"><div class="lead text-light fs-3">StudySquare</div></a>
            {% if session.user_id %}
                <!-- Navbar Search-->
                <div class="d-none d-md-inline-block form-inline me-auto ms-auto me-md-4 my-2 my-md-0">
                    <div class="input-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Search for Squares" aria-label="Search for..." aria-describedby="btnNavbarSearch" style="width: 400px;" id="searchbar"/>
                        <button class="btn btn-primary" id="square_search" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="d-md-inline-block form-inline me-0 ms-auto me-md-4 my-2 my-md-0 btn-group">
                    <a class="btn btn-primary" href="/squares/create">Start a Square</a>
                    <a class="btn btn-primary" href="/squares">All Squares</a>
                </div>
                <ul class="navbar-nav ms-3 me-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <div class="d-none d-md-inline-block form-inline me-auto ms-auto me-md-4 my-2 my-md-0">
                    <div class="input-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Search for Squares" aria-label="Search for..." id="searchbar" aria-describedby="btnNavbarSearch" style="width: 400px;"/>
                        <button class="btn btn-primary" id="square_search" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="d-md-inline-block form-inline me-0 ms-auto me-md-4 my-2 my-md-0 btn-group">
                    <a class="btn btn-primary" href="/squares/create">Start a Square</a>
                    <a class="btn btn-primary" href="/squares">All Squares</a>
                </div>
                <div class="d-md-inline-block form-inline me-0 ms-auto me-md-4 my-2 my-md-0 btn-group">
                    <a class="btn btn-primary" href="/login">Log In</a>
                    <a class="btn btn-primary" href="/register">Register</a>
                </div>
            {% endif %}
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" style="background-color: #494073;" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <center>
                            <div class="fs-3 fw-bold mt-4 mb-2" style="color: white;">QUICK SEARCH</div>
                            <div class="fs-6 mb-3" style="color: white">Click these to automatically search for similar squares.</div>
                            <ul class="quicksearch-list">
                                <li class="quicksearch-item">
                                    {% if hotkey1 %}
                                        <a href="/squares?title={{ hotkey1 }}" class="quicksearch-link" id="qs-1">{{ hotkey1 }}</a>
                                    {% else %}
                                        <a href="{% if session.user_id %}/profile#hotkeys{% else %}/login{% endif %}" class="quicksearch-link" id="qs-1">Add a Quick Link</a>
                                    {% endif %}
                                </li>
                                <li class="quicksearch-item">
                                    {% if hotkey2 %}
                                        <a href="/squares?title={{ hotkey2 }}" class="quicksearch-link" id="qs-2">{{ hotkey2 }}</a>
                                    {% else %}
                                        <a href="{% if session.user_id %}/profile#hotkeys{% else %}/login{% endif %}" class="quicksearch-link" id="qs-2">Add a Quick Link</a>
                                    {% endif %}
                                </li>
                                <li class="quicksearch-item">
                                    {% if hotkey3 %}
                                        <a href="/squares?title={{ hotkey3 }}" class="quicksearch-link" id="qs-3">{{ hotkey3 }}</a>
                                    {% else %}
                                        <a href="{% if session.user_id %}/profile#hotkeys{% else %}/login{% endif %}" class="quicksearch-link" id="qs-3">Add a Quick Link</a>
                                    {% endif %}
                                </li>
                                <li class="quicksearch-item">
                                    {% if hotkey4 %}
                                        <a href="/squares?title={{ hotkey4 }}" class="quicksearch-link" id="qs-4">{{ hotkey4 }}</a>
                                    {% else %}
                                        <a href="{% if session.user_id %}/profile#hotkeys{% else %}/login{% endif %}" class="quicksearch-link" id="qs-4">Add a Quick Link</a>
                                    {% endif %}
                                </li>
                                <li class="quicksearch-item">
                                    {% if hotkey5 %}
                                        <a href="/squares?title={{ hotkey5 }}" class="quicksearch-link" id="qs-5">{{ hotkey5 }}</a>
                                    {% else %}
                                        <a href="{% if session.user_id %}/profile#hotkeys{% else %}/login{% endif %}" class="quicksearch-link" id="qs-5">Add a Quick Link</a>
                                    {% endif %}
                                </li>
                                <li class="quicksearch-item">
                                    {% if hotkey6 %}
                                        <a href="/squares?title={{ hotkey6 }}" class="quicksearch-link" id="qs-6">{{ hotkey6 }}</a>
                                    {% else %}
                                        <a href="{% if session.user_id %}/profile#hotkeys{% else %}/login{% endif %}" class="quicksearch-link" id="qs-6">Add a Quick Link</a>
                                    {% endif %}
                                </li>
                            </ul>
                            <script>
                                for (var i=1; i<=6; i++) {
                                    let s = document.getElementById("qs-" + i);
                                    if (s.innerHTML != "Add a Quick Link") {
                                        s.onclick = function() {
                                            document.getElementById("searchbar").value = s.innerHTML;
                                            handleSquareSearch();
                                        };
                                    }
                                }
                            </script>
                        </center>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        {% if session.user_id %}
                            <div class="small">Logged in as:</div>
                            <b>{{ session.username }}</b>
                        {% else %}
                            <div class="small">Not logged in</div>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main class="container-fluid">
                    {% with msg = get_flashed_messages(with_categories=True) %}
                        {% if msg %}
                            {% for category, message in msg %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show"
                                    role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block main %}{% endblock %}
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; StudySquare 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        {% block script %}{% endblock %}
        <script>
            function handleSquareSearch() {
                const search = document.querySelector("input[type='text']").value;
                if (search) {
                    window.location.href = `/squares?title=${search}`;
                }
            }
            document.querySelector("#square_search").addEventListener("click", handleSquareSearch);
        
            document.getElementById('searchbar').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    const search = document.querySelector("input[type='text']").value;
                    if (search) {
                        window.location.href = `/squares?title=${search}`;
                    }
                }
            });
        </script>
    </body>
</html>
