<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#0d6efd">

        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/static/favicon.png" rel="icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


        <style>
            .nav-link {
                top: 7%!important;
            }
        </style>

        <title>{% block title %}{% endblock %} &middot; StudySquare</title>

        {% block preload %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand growable" href="/" style="cursor: pointer;"><img src="/static/favicon.png" style="width: 40px; height: 40px;" data-toggle="tooltip" title="Our logo is cool, right?"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar" aria-controls="navbarText" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar" data-active="{% block active %}{% endblock %}">
                    {% if session.user_id %}
                        <ul class="navbar-nav me-auto">
                            <li class="nav-li"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-li"><a class="nav-link" href="/mathgym">Math Gym</a></li>
                            <li class="nav-li"><a class="nav-link" href="/problems">Practice</a></li>
                            {% if check_perm(["ADMIN", "SUPERADMIN"]) %}<li class="nav-li"><a class="nav-link" href="/courses">Courses</a></li>{% endif %}
                            <li class="nav-li"><a class="nav-link" href="/mathgym/mockgenerator">Mock Generator</a></li>
                            <li class="nav-li"><a class="nav-link" href="/contests">Contests</a></li>
                            {% block contest_leaderboard %}{% endblock %}
                            <li class="nav-li"><a class="nav-link" href="/rankings">Rankings</a></li>
                            <li class="nav-li"><a class="nav-link" href="/organizations/public">Organizations</a></li>
                            <li class="nav-li">
                                <a id="help-dropdown-release" class="nav-link dropdown-toggle" style="cursor: pointer;">Info</a>
                                <div id="help-dropdown" class="dropdown-content">
                                    <a class="nav-link" href="/about">About</a>
                                    <a class="nav-link" href="/team">Our Team</a>
                                    <a class="nav-link" href="{% if check_perm(["ADMIN", "SUPERADMIN", "PROBLEM_MANAGER", "CONTENT_MANAGER"]) %}/admin{% endif %}/submissions">Submissions</a>
                                    <a class="nav-link" href="/discordserver" target="_blank">Discord Server</a>
                                    <a class="nav-link" href="/changelog">Changelog</a>
                                    <a class="nav-link" href="/uptime" target="_blank">Server Uptime</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            {% if check_perm(["ADMIN", "SUPERADMIN", "PROBLEM_MANAGER", "CONTENT_MANAGER"]) %}
                            <li class="nav-li"><a class="nav-link" href="/admin/console" style="margin-top: 5%;">Admin Console</a></li>
                            {% endif %}
                            <div class="form-check form-switch nav-link">
                                <input class="form-check-input dark-toggle"
                                       type="checkbox" style="margin-top: 12px;">
                            </div>
                            <div class="dropdown" style="top: 7%;">
                                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" style="background: transparent; border-color: #DACFBE!important; color: white;"> Hello, <b>{{ session.username }}</b>.<span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-end animate" id="user-dropdown-menu">
                                    <li class="nav-li"><a class="dropdown-item text-decoration-none" style="margin-bottom: 5px;" href="/users/{{ session.username }}/profile">Profile</a></li>
                                    <li class="nav-li"><a class="dropdown-item text-decoration-none" style="margin-bottom: 5px;" href="/users/{{ session.username }}/profile/edit">Edit Profile</a></li>
                                    <li class="nav-li"><a class="dropdown-item text-decoration-none" href="/settings">Settings</a></li>
                                    <li class="nav-li"><div class="dropdown-divider" style="margin-bottom: 16px;"><div></li>
                                    <li class="nav-li"><a class="dropdown-item logout" href="/logout">Log Out</a></li>
                                </ul>
                            </div>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto">
                            <div class="form-check form-switch nav-link">
                                <input class="form-check-input dark-toggle"
                                       type="checkbox">
                            </div>
                            <li class="nav-li"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-li"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container">
            {% with msg = get_flashed_messages(with_categories=True) %}
                {% if msg %}
                    {% for category, message in msg %}
                        {% if category != "maintenance" and category != "testing" and category != "team" %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show"
                                role="alert">
                                <span>{{ message }}</span>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% elif category == "maintenance" %}
                            {% if not maintenance.flag %}
                                {% set maintenance.flag = true %}
                                <div class="alert alert-warning alert-dismissible fade show"
                                    role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% elif category == "testing" %}
                            {% if not testing.flag %}
                                {% set testing.flag = true %}
                                <div class="alert alert-info alert-dismissible fade show"
                                    role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% elif category == "team" %}
                            {% if not testing.flag %}
                                {% set testing.flag = true %}
                                <div class="alert alert-info alert-dismissible fade show"
                                    role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block main %}{% endblock %}
            {% block post_main %}{% endblock %}
        </main>
        <footer>
            <hr>
            <p class="text-center" style="font-family: 'Montserrat', sans-serif;" id="footer-text">
                &copy; StudySquare &middot;
                <a href="#">Terms of Service</a> &middot;
                <a href="#">Privacy Policy</a> &middot;
                <a href="#">Discord Server</a>
            </p>
        </footer>

        {% block script %}{% endblock %}
    </body>
</html>
