{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block active %}Home{% endblock %}

{% block main %}

<div class="container-fluid px-4">
    <h1 class="my-5 text-center pt-4">User <p class="d-inline-block fw-bold" style="color: #2fa174;">{{ data['username'] }}</p></h1>
    
    <div class="row">
        <div class="col col-xl-6 mx-auto">
            <div class="card mb-4 mx-auto" style="position: relative; width: 100%;">
                <div class="card-body" style="border: 2px solid #2fa174">
                    <div class="container-fluid">
                        <h3 class="card-title mt-3 mb-3">Stats</h3>
                        <h6>Join Date: </h6> <p>{{ data['join_date'] }}</p>
                        <h6>Squares Created: </h6> <p>{{ data['squares_created'] }}</p>
                        <h6>Squares Joined: </h6> <p>{{ data['squares_joined'] }}</p>
                        <h6>Total Time in Sessions: </h6> <p id="timeCounter">Loading...</p>
                        <script>
                            var numSeconds = {{ data['total_seconds'] }};
                            function processNum(a) {
                                a = Math.floor(a);
                                if (a < 10) {return "0".concat(a);}
                                return a;
                            }
                            document.getElementById("timeCounter").innerHTML = processNum(numSeconds/3600) + ":" + processNum((numSeconds % 3600) / 60) + ":" + processNum(numSeconds % 60);
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 mx-auto">
            <div class="card mb-4 mx-auto" style="position: relative; width: 100%;">
                <div class="card-body" style="border: 2px solid #2fa174">
                    <div class="container-fluid">
                        <h3 class="card-title mt-3 mb-3">Last 10 Squares:</h3>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Square Name</th>
                                    <th scope="col">Session Start Date</th>
                                    <th scope="col">Length of Session</th>
                                    <th scope="col">Square Host</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for square in recent_10_squares %}
                                    <tr>
                                        <td>{{ square.square_title }}</td>
                                        <td>{{ square.date }}</td>
                                        <td class="session-length" data-len="{{ square.session_length }}">{% if square.session_length == 0 %}Session not ended{% else %}{{ square.session_length }}{% endif %}</td>
                                        <td>{{ square.square_creator_username }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <script>
                            function processNum(a) {
                                a = Math.floor(a);
                                if (a < 10) { return "0".concat(a); }
                                return a;
                            }
                            
                            document.querySelectorAll('.session-length').forEach(function(element) {
                                var dataLength = parseInt(element.dataset.len);
                                if (dataLength !== 0) {
                                    element.innerHTML = processNum(dataLength / 3600) + ":" + processNum((dataLength % 3600) / 60) + ":" + processNum(dataLength % 60);
                                }
                            });                            
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xl-6 mx-auto">
            <div class="card mb-4 mx-auto" style="position: relative; width: 100%;">
                <div class="card-body" style="border: 2px solid #2fa174">
                    <div class="container-fluid">
                        <h3 class="card-title mt-3 mb-3" id="hotkeys">Hotkeys</h3>
                        <form action="/edithotkeys" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            Hotkey 1: <input type="text" value="{{ hotkey1 }}" name="hotkey1"><br><br>
                            Hotkey 2: <input type="text" value="{{ hotkey2 }}" name="hotkey2"><br><br>
                            Hotkey 3: <input type="text" value="{{ hotkey3 }}" name="hotkey3"><br><br>
                            Hotkey 4: <input type="text" value="{{ hotkey4 }}" name="hotkey4"><br><br>
                            Hotkey 5: <input type="text" value="{{ hotkey5 }}" name="hotkey5"><br><br>
                            Hotkey 6: <input type="text" value="{{ hotkey6 }}" name="hotkey6"><br><br>
                            <button class="btn btn-primary" type="submit">Save Hotkeys</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 mx-auto">
            <div class="card mb-4 mx-auto" style="position: relative; width: 100%;">
                <div class="card-body" style="border: 2px solid #2fa174">
                    <div class="container-fluid">
                        <h3 class="card-title mt-3 mb-3">Settings</h3>
                        <form action="/changepassword" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            
                            <h4 class="d-inline me-3">Old Password: </h4><br>
                            <input type="password" name="old_password"><br><br>
                            
                            <h4 class="d-inline me-3">New Password: </h4><br>
                            <input type="password" name="new_password"><br><br>
                            
                            <h4 class="d-inline me-3">Confirm New Password: </h4><br>
                            <input type="password" name="confirm_new_password"><br><br>
                            
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block preload %}
<style>
    .card {
        transition: transform 0.5s;
    }

    .card:hover {
        transform: scale(1.03);
    }
</style>
{% endblock %}