{% extends "layout.html" %}

{% block title %}Rankings{% endblock %}
{% block active %}Rankings{% endblock %}

{% block main %}
<h1>User Rankings</h1>
{% if is_ongoing_contest %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
        <span>There is currently an ongoing contest. To view it, go to the <a href="/contests">Contests</a> page.</span><br>
        <span>These are the <b>global user rankings unrelated to the contest</b></span>.
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
</div>
{% endif %}
<div id="pagination" data-pages="{{ length }}" style="margin-top: 10px;"></div>

<div class="flex-desktop">
    <div style="flex: 2.5; overflow-x: auto;">
        <center style="margin-bottom: -1em;"><span class="lead fs-2">Points Leaderboard</span></center>
        <table class="table table-hover" style="border: 1px solid #dfe2e6;">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 20%;">Rank</th>
                    <th scope="col" style="width: 50%;">Username</th>
                    <th scope="col" style="width: 30%;">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(leaderboard_points | length) %}
                    {% if not leaderboard_points[i]["banned"] %}
                        <tr {% if leaderboard_points[i]["username"] == client_username %}data-toggle="tooltip" title="This is you!"{% endif %}>
                            <td {% if leaderboard_points[i]["username"] == client_username %}class="client-username"{% endif %}>
                                {{ page + i + 1 }}
                                {% if leaderboard_points[i]["image"] %}
                                    <img src="{{ leaderboard_points[i]["image"] }}"
                                    class="icon growable"
                                    style="width: 24px; margin-left: 10px;"
                                    title="{{ leaderboard_points[i]["title"] }}"
                                    data-toggle="tooltip">
                                {% endif %}
                            </td>
                            <td class="username{% if leaderboard_points[i]["username"] == client_username %} client-username{% endif %}" data-rating="{{ leaderboard_points[i]["rating"] }}" data-admin="{{ leaderboard_points[i]["admin"] }}"><a href="/users/{{ leaderboard_points[i]["username"] }}/profile">{{ leaderboard_points[i]["username"] }}</a></td>
                            <td {% if leaderboard_points[i]["username"] == client_username %}class="client-username"{% endif %}><b>{{ leaderboard_points[i]["total_points"] }}</b></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="flex: 2.5; overflow-x: auto; margin-left: 0.7em;">
        <center style="margin-bottom: -1em;"><span class="lead fs-2">Rating Leaderboard</span></center>
        <table class="table table-hover" style="border: 1px solid #dfe2e6;">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 20%;">Rank</th>
                    <th scope="col" style="width: 50%;">Username</th>
                    <th scope="col" style="width: 30%;">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(leaderboard_rating | length) %}
                    {% if not leaderboard_rating[i]["banned"] %}
                        <tr {% if leaderboard_rating[i]["username"] == client_username %}data-toggle="tooltip" title="This is you!"{% endif %}>
                            <td {% if leaderboard_rating[i]["username"] == client_username %}class="client-username"{% endif %}>
                                {{ page + i + 1 }}
                                {% if leaderboard_rating[i]["image"] %}
                                    <img src="{{ leaderboard_rating[i]["image"] }}"
                                    class="icon growable"
                                    style="width: 24px; margin-left: 10px;"
                                    title="{{ leaderboard_rating[i]["title"] }}"
                                    data-toggle="tooltip">
                                {% endif %}
                            </td>
                            <td class="username{% if leaderboard_rating[i]["username"] == client_username %} client-username{% endif %}" data-rating="{{ leaderboard_rating[i]["rating"] }}" data-admin="{{ leaderboard_rating[i]["admin"] }}"><a href="/users/{{ leaderboard_rating[i]["username"] }}/profile">{{ leaderboard_rating[i]["username"] }}</a></td>
                            <td {% if leaderboard_rating[i]["username"] == client_username %}class="client-username"{% endif %}><b>{% if leaderboard_rating[i]["rating"] %}{{ leaderboard_rating[i]["rating"] }}{% else %}Unrated{% endif %}</b></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="flex: 1.5; margin-left: 12px;">
        <div class="card sticky" style="max-height: 360px; overflow-y: auto;" id="recent-points-lb">
            <h3 id="points-date" data-toggle="tooltip">Most Points (Last 7 Days)</h3>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="width: 20%; font-size: 15px;">Rank</th>
                        <th scope="col" style="width: 57%; font-size: 15px;">Username</th>
                        <th scope="col" style="width: 23%; font-size: 15px;">Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(points_last_week | length) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td class="username" data-rating="{{ points_last_week[i]["rating"] }}" data-admin="{{ points_last_week[i]["admin"] }}"><a href="/users/{{ points_last_week[i]["username"] }}/profile">{{ points_last_week[i]["username"] }}</a></td>
                            <td>{{ points_last_week[i]["total_points"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card sticky" style="margin-top: 10px;" id="users-search">
            <h3>Search Users</h3>
            <form>
                <div class="form-floating">
                    <input class="form-control mb-3"
                        id="search-q"
                        name="q"
                        placeholder="Username">
                    <label for="search-q">Username</label>
                </div>
                <input class="btn btn-outline-success" type="submit" value="Search">
            </form>
        </div>
    </div>
</div>
{% if check_perm(["ADMIN", "SUPERADMIN"]) %}
<hr> <h2>Banned Users</h2>
<table class="table table-hover table-full-width">
    <thead class="table-dark">
        <tr>
            <th scope="col" style="width: 40%;">Username</th>
            <th scope="col" style="width: 23%;">Points</th>
            <th scope="col" style="width: 23%;">Contests Participated</th>
            <th scope="col" style="width: 24%">Problems Solved</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(banned_users | length) %}
            <tr>
                <td class="username" style="background-color: #f0b4b4;"><a href="/users/{{ banned_users[i]["username"] }}/profile" style="font-weight: bold; color: red;">{{ banned_users[i]["username"] }}</a></td>
                <td style="background-color: red;">{{ banned_users[i]["total_points"] }}</td>
                <td style="background-color: red;">{{ banned_users[i]["contests_completed"] }}</td>
                <td style="background-color: red;">{{ banned_users[i]["problems_solved"] }}</td>
            </tr>
        {% endfor %}
   </tbody>
</table>
{% endif %}
<script>
    var currentDate = new Date();
    var oneWeekAgo = new Date(currentDate.getTime() - (7 * 24 * 60 * 60 * 1000));
    var formattedDate = oneWeekAgo.toISOString().split('T')[0];
    document.getElementById("points-date").title = "Since " + formattedDate;
    document.getElementById("users-search").style.top = (document.getElementById("recent-points-lb").offsetHeight + 20) + "px";
</script>
{% endblock %}