{% extends "layout.html" %}

{% block title %}Settings{% endblock %}
{% block active %}Settings{% endblock %}

{% block main %}
<h1>Settings</h1> <br>
<div class="row g-3">
    <div class="col-md-6">
        <a class="btn btn-lg btn-danger fw-bold w-100 white-anchor" href="/settings/changepassword" role="button">Change Password</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-lg btn-danger fw-bold w-100 white-anchor" href="/settings/toggle2fa" role="button">Toggle 2FA</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-lg btn-primary fw-bold w-100 white-anchor" href="#" id="btnApi" role="button">Generate New API Key</a>
        <div class="col-12 mt-3 hidden" id="apiKeyInfo">
            <h4>Keep your API key safe. Do not share it with anyone!</h4>
            <details>
                <summary>Click to reveal API key</summary>
                <textarea disabled class="apikey font-mono" cols="36" rows="1"></textarea>
            </details>
        </div>
    </div>
    <div class="col-md-6">
        <a class="btn btn-lg btn-primary fw-bold w-100 white-anchor" {% if highlight_tags %} style="box-shadow: 0 0 7px 7px lightblue;"{% endif %} href="/settings/toggletags" id="btnApi" role="button">
            Toggle Tag Showing <span class="badge bg-dark">{% if show_tags %}ON{% else %}OFF{% endif %}</span>
        </a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-lg btn-primary fw-bold w-100 white-anchor" href="/settings/toggletimed" id="timedmodetoggle" role="button">
            Toggle Timed Mode <span class="badge bg-dark">{% if timed_mode %}ON{% else %}OFF{% endif %}</span>
        </a>
    </div>
    <div class="col-12">
        <details class="mt-3">
            <summary>What is Timed Mode?</summary>
            <p>Timed mode is a feature that lets you measure how long it takes you to solve a problem by displaying a timer and telling you your time taken once you submit a correct answer.</p>
        </details>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    document.querySelector("#btnApi").addEventListener("click", () => {
        const formData = new FormData();
        formData.append("csrf_token", "{{ csrf_token() }}");
        fetch("/api/getkey", {
            method: "POST",
            body: formData
        }).then(b => b.text()).then(b => {
            const outputDiv = document.querySelector(".apikey");
            outputDiv.value = b;
            outputDiv.parentElement.parentElement.classList.remove("hidden");
        });
    });
</script>
{% endblock %}