{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block active %}Home{% endblock %}

{% block main %}

<div class="container-fluid px-4">
    <h1 class="my-5 text-center pt-4"></h1>
    
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4" style="position: relative;">
                    <img src="/static/menu.png" class="card-img-top">
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4" style="position: relative;">
                <div class="card-body">
                    <div class="container-fluid text-center">
                        <h3 class="card-title mt-3">Zombiewars 0.5</h3>
                        <p>Grinding the latest beta of Zombiewars and having a load of fun</p>
                        <p>Me eat chicken booger as bavinesh t sits on a container of apple juice
                            in the side of a container with a boAtt,le in the background all because of set and crown which also
                            implies that I ate a berry the other day, however, a clear attack to that would be "how do you know"
                            but I'm Albert Einstein so yeah get skibidi rekt</p>
                        <i class="fas fa-person d-md-inline-block"></i>
                        <p class="my-1 d-md-inline-block">6969</p> <br>
                        <a href="https://zombiewars.net">Share this page</a> <br>
                        <p class="text-success fw-bold">Session Length: 69:42:00</p>
                        <button class="btn btn-primary btn-lg mb-3">Join Session</button> <br>
                        <button class="btn btn-danger">End Session</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}