{% extends "layout.html" %}

{% block title %}Be Perfect{% endblock %}
{% block active %}Math Gym{% endblock %}

{% block main %}
    <h1>Be Perfect<span class="katex--inline">^2</span></h1>
    <div id="score" style="display: none;"></div>
    <h2 id="elapsed-time" class="badge bg-primary hidden" style="font-size: 25px;"></h2>
    <div class="container-fluid card hidden" id="drills"></div>
    <div class="form-floating">
        <input class="form-control mb-3" id="numDrills" placeholder="Number of Drills" required>
        <label for="numDrills">Number of Drills</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" id="minNum" placeholder="Minimum Number" required>
        <label for="numDrills">Minimum Number</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" id="maxNum" placeholder="Maximum Number" required>
        <label for="numDrills">Maximum Number</label>
    </div>
    <div class="form-floating" style="margin-bottom: -10px;">
        <select class="form-select mb-3" id="numOps" required>
            <option value="standard">Standard</option>
            <option value="reversed">Reversed</option>
        </select>
        <label for="numDrills">Game Mode</label>
    </div> <br>
    <a class="btn btn-primary btn-lg my-2" id="create-game">Create Game</button>
    <a href="/mathgym" class="btn btn-secondary btn-lg m-2">Back to Math Gym</a>
    <br>
    <div id="info" class="card">
        <h3 style="font-weight: bold; color: #741F22">What is this Drill?</h3>
        <span>Train your ability to memorize perfect squares! The objective of this drill is to recall and state perfect squares as quickly and accurately as possible, without using any paper. Being able to swiftly and correctly identify perfect squares is very beneficial in math contests. Focus on memorizing squares of numbers to enhance your mental math skills.</span>
        <br>
        <span><b>Number of drills:</b> how many questions/drills to generate.</span>
        <span><b>Minimum number:</b> the minimum number to be used in the perfect square.</span>
        <span><b>Maximum number:</b> the maximum number to be used in the perfect square.</span>
        <span><b>Game mode:</b> you can either give the square given a base (standard), or give a base given a square (reversed).</span>
        <br>
        <span>You will be given the questions one-by-one, every time you answer correctly it will automatically move on.</span>
    </div>
{% endblock %}
{% block script %}
<script>
    if (localStorage.getItem('beperfect_numDrills')) {
        document.getElementById('numDrills').value = localStorage.getItem('beperfect_numDrills');
        document.getElementById('minNum').value = localStorage.getItem('beperfect_minNum');
        document.getElementById('maxNum').value = localStorage.getItem('beperfect_maxNum');
        document.getElementById('numOps').value = localStorage.getItem('beperfect_gameMode');
    }

    let drills = [];
    let timerInterval;
    let startTime;
    let game_mode;

    // Create the game
    function createGame() {
        const numDrills = parseInt(document.getElementById('numDrills').value);
        const minNum = parseInt(document.getElementById('minNum').value);
        const maxNum = parseInt(document.getElementById('maxNum').value);
        const gameMode = document.getElementById('numOps').value.toLowerCase(); // Game mode: 'standard' or 'reversed'

        if (isNaN(numDrills) || isNaN(minNum) || isNaN(maxNum) || !gameMode) {
            alert("Please fill out all fields correctly.");
            return;
        }

        var confirmGenerate = window.confirm("This will immediately start your timer. Press OK when you are ready.");
        if (!confirmGenerate) {
            return;
        }

        localStorage.setItem('beperfect_numDrills', numDrills);
        localStorage.setItem('beperfect_minNum', minNum);
        localStorage.setItem('beperfect_maxNum', maxNum);
        localStorage.setItem('beperfect_gameMode', gameMode);

        // Append line breaks to the drills container
        const drillsContainer = document.getElementById('drills');
        drillsContainer.classList.remove('hidden');

        game_mode = gameMode;
        for (let i = 0; i < 2; i++)
            insertAfter(drillsContainer, (document.createElement('br')));

        drills = generateDrills(numDrills, minNum, maxNum, gameMode);
        displayNextDrill(0);
        window.scrollTo(0, 0);

        // Start the timer
        startTimer();
    }

    // Generate drills based on the given parameters
    function generateDrills(numDrills, minNum, maxNum, gameMode) {
        let drills = [];
        for (let i = 0; i < numDrills; i++) {
            let num = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;
            if (gameMode === 'standard') {
                drills.push({ question: num, answer: num * num });
            } else if (gameMode === 'reversed') {
                drills.push({ question: num * num, answer: num });
            }
        }
        return drills;
    }

    function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    // Display the next drill
    function displayNextDrill(currentDrillIndex) {
        if (currentDrillIndex >= drills.length) {
            clearInterval(timerInterval);
            alert("All drills completed!");
            return;
        }

        const drill = drills[currentDrillIndex];
        const drillsContainer = document.getElementById('drills');
        drillsContainer.innerHTML = '';

        const flexContainer = document.createElement('div');
        flexContainer.style.display = "flex";
        flexContainer.style.alignItems = "center";

        const questionElement = document.createElement('h1');
        questionElement.style.display = "inline";
        questionElement.innerHTML = game_mode === 'standard' ? `<span class="katex--inline" style="font-size: 25px;">${drill.question}^2 =</span>` : `<span class="katex--inline" style="font-size: 25px;">\\sqrt{${drill.question}} =</span>`;

        const answerInput = document.createElement('input');
        answerInput.type = "text";
        answerInput.id = "answer";
        answerInput.className = "form-control font-mono mx-2";
        answerInput.style = "width: 100%; padding: 10px; font-size: 3em;";
        answerInput.autofocus = true;

        const drillNumberElement = document.createElement('h3');
        drillNumberElement.className = 'badge bg-info rounded-pill mb-1 fs-2';
        drillNumberElement.innerHTML = `Drill ${currentDrillIndex + 1} of ${drills.length}<br>`;

        flexContainer.appendChild(questionElement);
        flexContainer.appendChild(answerInput);

        drillsContainer.appendChild(flexContainer);
        drillsContainer.appendChild(drillNumberElement);
        renderLatex();

        answerInput.focus();

        document.getElementById('answer').addEventListener('input', (event) => {
            checkAnswer(parseInt(event.target.value), drill.answer);
        });

        flexContainer.appendChild(questionElement);
        flexContainer.appendChild(answerInput);

        drillsContainer.appendChild(flexContainer);
        renderLatex();

        answerInput.focus();

        document.getElementById('answer').addEventListener('input', (event) => {
            checkAnswer(parseInt(event.target.value), drill.answer, currentDrillIndex);
        });
    }

    // Check the answer of a particular drill
    function checkAnswer(userAnswer, correctAnswer, prevNum) {
        if (userAnswer === correctAnswer) {
            document.getElementById('answer').disabled = true;
            setTimeout(() => {
                displayNextDrill(prevNum + 1);
            }, 150);
        }
    }

    // Start the timer
    function startTimer() {
        const elapsedTimeDiv = document.getElementById('elapsed-time');
        startTime = Date.now();
        elapsedTimeDiv.style.display = 'block';
        timerInterval = setInterval(() => {
            const elapsedTime = Date.now() - startTime;
            const hours = Math.floor((elapsedTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((elapsedTime % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((elapsedTime % (1000 * 60)) / 1000);
            elapsedTimeDiv.innerHTML = `Time Passed: ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        }, 1000);
    }

    // Attach the createGame function to the button
    document.querySelector('#create-game').addEventListener('click', createGame);
</script>

{% endblock %}