{% extends "layout.html" %}

{% block title %}Math Gym{% endblock %}
{% block active %}Math Gym{% endblock %}

{% block main %}
<style>
    .card {
        background-color: white!important;
    }

    .card:hover {
        background: linear-gradient(to right, white, lightyellow, white);!important;
        transform: scale(1.03);
    }

    .dark .card:hover {
        background: linear-gradient(to right, #414141, #5F5E37, #414141);!important;
    }
</style>

<h1>Math Gym</h1>
{% if is_ongoing_contest %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
        <span>There is currently an ongoing contest. To view it, go to the <a href="/contests">Contests</a> page.</span><br>
        <span>This gym is for practice and is <b>unrelated to the contest</b>.</span>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
</div>
{% endif %}
<div class="row">
    <div class="col-sm-6" style="margin-bottom: 30px; margin-top: 20px;">
        <div class="card gym-card-practice">
            <div class="card-body">
                <h4 class="card-title"><b>Practice Problems</b></h5>
                <p class="card-text">Explore thousands of practice problems in all the big contests.</p>
                <a class="badge bg-info rounded-pill growable fs-6 mb-4 p-2" href="/problems"><b>All Problems</b></a>
                <a class="badge bg-primary rounded-pill growable fs-6 mb-4 p-2 mx-2" href="/rankings" role="button"><b>Global Rankings</b></a><br>
                <details><summary class="mb-2 fs-4" style="color: #741f22;" href="#maa_cat" aria-expanded="false" aria-controls="maa_cat" data-bs-toggle="collapse" role="button"><u><b>MAA Categories</b></u></summary></details>
                <div class="collapse mb-2" id="maa_cat">
                    <div class="mb-2">
                        <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">AMC 8: </span>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px;" href="problems?category=AMC%208" role="button">AMC 8</a>
                    </div>
                    <div class="mb-2">
                        <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">AMC 10: </span>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px; margin-right: 10px;" href="/problems?category=AMC%2010A" role="button" style="margin-right: 10px;">AMC 10A</a>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px" href="/problems?category=AMC%2010B" role="button">AMC 10B</a>
                    </div>
                    <div class="mb-2">
                        <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">AMC 12: </span>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px; margin-right: 10px;" href="/problems?category=AMC%2012A" role="button" style="margin-right: 10px;">AMC 12A</a>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px;" href="/problems?category=AMC%2012B" role="button">AMC 12B</a>
                    </div>
                    <div id="aime-grouping">
                        <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">AIME: </span>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px; margin-right: 10px;" href="/problems?category=AIME%20I" role="button" style="margin-right: 10px;">AIME I</a>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px;" href="/problems?category=AIME%20II" role="button">AIME II</a>
                    </div>
                </div>
                <details><summary class="mb-2 fs-4" style="color: #741f22;" href="#cemc_cat" aria-expanded="false" aria-controls="cemc_cat" data-bs-toggle="collapse" role="button"><u><b>CEMC Categories</b></u></summary></details>
                <div class="collapse mb-2" id="cemc_cat">
                    <div class="mb-2">
                        <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">Pascal: </span>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px;" href="problems?category=Pascal" role="button">Pascal</a>
                    </div>
                    <div class="mb-2">
                        <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">Cayley: </span>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px" href="/problems?category=Cayley" role="button">Cayley</a>
                    </div>
                    <div class="mb-2">
                        <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">Fermat: </span>
                        <a class="badge bg-secondary rounded-pill growable" style="padding: 6px;" href="/problems?category=Fermat" role="button">Fermat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 30px; margin-top: 20px;">
        <div class="card gym-card-potd">
            <div class="card-body">
                <h4 class="card-title"><b>Problem of the Day</b></h5>
                <p class="card-text">Solve daily problems and build up your streak!</p>
                <a class="badge bg-info rounded-pill growable" href="/problems?category=Problem%20of%20the%20Day" role="button" style="margin-bottom: 10px; padding: 8px; margin-right: 10px;"><b>All POTD's</b></a>
                <a class="badge bg-info rounded-pill growable" href="/problem/{{ most_recent_potd }}" role="button" style="margin-bottom: 10px; padding: 8px;"><b>Most Recent POTD</b></a> <br>
                <a class="badge bg-primary rounded-pill growable" href="/mathgym/potdrankings" role="button" style="margin-bottom: 10px; padding: 8px; font-size: 15px;"><b>POTD Rankings</b></a>
                <p class="card-text">Join our <a href="https://discord.gg/zUdmCWPT3f">Discord Server</a> for early access to POTD's! POTD's were split into normal and challenge mode after POTD #21.</p>
                <p class="card-text">There are currently <b style="color: #741F22">{{ potd_count }}</b> POTD's on TopsOJ.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 30px;">
        <div class="card gym-card-mentalmath">
            <div class="card-body">
                <h4 class="card-title"><b>Math Games</b></h5>
                <p class="card-text">Math games for practice and fun!</p>
                <a class="badge bg-primary rounded-pill growable" href="/mathgym/mentalmath" role="button" style="font-size: 15px; margin-bottom: 10px; padding: 8px; margin-right: 10px; margin-bottom: 10px;" title="Train your brain with customized mental math drills!" data-toggle="tooltip"><b>Mental Math</b></a><br>
                <a class="badge bg-primary rounded-pill growable" href="/mathgym/triangulate" role="button" style="font-size: 15px; margin-bottom: 10px; padding: 8px; margin-right: 10px; margin-bottom: 10px;" title="A game involving speed, accuracy, and triangulating triangle centers!" data-toggle="tooltip"><b>Triangulate</b></a><br>
                <a class="badge bg-primary rounded-pill growable" href="/mathgym/beperfect" role="button" style="font-size: 15px; margin-bottom: 10px; padding: 8px; margin-right: 10px; margin-bottom: 10px;" title="Practice fast perfect square memorization!" data-toggle="tooltip"><b>Be Perfect</b></a><br>
                <a class="badge bg-primary rounded-pill growable" href="/mathgym/mentalmathrankings" role="button" style="font-size: 15px; margin-bottom: 10px; padding: 8px; margin-right: 10px; margin-bottom: 10px;" title="Ranking based on your mental math speed" data-toggle="tooltip"><b>Mental Math Ranking</b></a><br>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 30px;">
        <div class="card gym-card-resources">
            <div class="card-body">
                <h4 class="card-title"><b>Resources</b></h5>
                <p class="card-text">Detailed resources for all aspects of math!</p>
                <a class="badge bg-primary rounded-pill growable" href="/mathgym/resources" role="button" style="font-size: 15px; margin-bottom: 10px; padding: 8px; margin-right: 10px;"><b>Go to Resources</b></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 30px;">
        <div class="card gym-card-mock">
            <div class="card-body">
                <h4 class="card-title"><b>Mock Generator</b></h5>
                    <p class="card-text">Generate a timed, unique, and high quality mock in a few clicks!</p>
                    <a class="badge bg-primary rounded-pill growable" href="/mathgym/mockgenerator" role="button" style="font-size: 15px; margin-bottom: 10px; padding: 8px; margin-right: 10px;"><b>Mock Generator</b></a><br>
                    <span style="font-size: 17px; font-weight: bold; margin-right: 10px;">Supported mocks: </span>
                    <span class="badge bg-secondary" style="font-size: 15px; padding: 7px; margin-right: 3px; margin-top: 5px;">AMC 8</span>
                    <span class="badge bg-secondary" style="font-size: 15px; padding: 7px; margin-right: 3px; margin-top: 5px;">AMC 10</span>
                    <span class="badge bg-secondary" style="font-size: 15px; padding: 7px; margin-right: 3px; margin-top: 5px;">AMC 12</span>
                    <span class="badge bg-secondary" style="font-size: 15px; padding: 7px; margin-right: 3px; margin-top: 5px;">AIME</span>
                    <span class="badge bg-secondary" style="font-size: 15px; padding: 7px; margin-right: 3px; margin-top: 5px;">Pascal</span>
                    <span class="badge bg-secondary" style="font-size: 15px; padding: 7px; margin-right: 3px; margin-top: 5px;">Cayley</span>
                    <span class="badge bg-secondary" style="font-size: 15px; padding: 7px; margin-right: 3px; margin-top: 5px;">Fermat</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="margin-bottom: 30px;">
        <div class="card gym-card-zen">
            <div class="card-body">
                <h4 class="card-title"><b>Zen</b></h5>
                <p class="card-text">Coming Soon!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
