{% extends "layout.html" %}

{% block title %}{{ mock_type }} Mock Generator{% endblock %}
{% block active %}Mock Generator{% endblock %}

{% block main %}

<style>
    img {
        transition: 0.3s ease-in-out;
    }

    img:hover {
        transform: scale(1.01);
    }

    .answer-choice {
        transition: background-color 0.2s ease-in-out;
    }

    .answer-choice:hover {
        background-color: #f0e9d6;
    }

    .dark .answer-choice {
        color: white!important;
        background-color: #414141!important;
    }

    .dark option {
        color: white!important;
        background-color: #414141!important;
    }

    .dark span {
        color: black!important;
    }

    .dark label {
        color: black!important;
    
    }
</style>

<h1 id="title" style="font-weight: bold;">Mock Generator</h1>
<h4>
    {{ title }}
</h4>

{% if not generate %}
<p>Welcome to the Mock Generator! Each generated mock is guaranteed to be unique. If there are any issues with the mock please tell us in our discord server.<br><b>Note that the timer automatically starts upon generation</b>.</p><br>
<span><b>Select a contest to mock:</b></span><br>
<div id="contest-container">
    <form id="contest-form" action="" method="GET">
        <select class="form-select answer-choice" aria-label="Contest" id="contest-type" name="contest-type" style="border: 1px solid gray; margin-bottom: 2px;">
            <option value="" selected>------</option>
            <option value="amc8">AMC 8</option>
            <option value="amc10">AMC 10</option>
            <option value="amc12">AMC 12</option>
            <option value="aime">AIME</option>
            <option value="pascal">Pascal</option>
            <option value="cayley">Cayley</option>
            <option value="fermat">Fermat</option>
        </select>
    </form><br>
</div>
<div id="mock-container" class="hidden">
    <span><b>Select a mock type:</b></span><br>
    <form id="mock-type-form" action="" method="GET">
    </form>
</div>
<div id="year-container" class="hidden">
    <span><b>Select a year:</b></span><br>
    <form id="year-type-form" action="" method="GET">
    </form>
</div>
<div id="type-container" class="hidden">
    <span><b>Select a contest type:</b></span><br>
    <form id="type-form-exterior" action="" method="GET">
    </form>
</div>
<div id="submit-mock-btn" class="hidden"></div>
<script>
    document.querySelector('#contest-form').addEventListener("change", function () {
        var contest_type = document.querySelector('#contest-type').value;
        if (contest_type == "") {
            return;
        }
        var mock_html = `<select class="form-select answer-choice" aria-label="Mock" id="mock-type" name="mock-type" style="border: 1px solid gray; margin-bottom: 2px;">
            <option value="" selected>------</option>
            <option value="year">By Year (past contests)</option>
            <option value="unique">Unique (randomly generated)</option>
        </select><br>`;
        document.querySelector('#mock-type-form').innerHTML = mock_html;
        document.querySelector('#mock-container').classList.remove('hidden');
        document.querySelector('#year-container').classList.add('hidden');
        document.querySelector('#year-type-form').innerHTML = "";
        document.querySelector('#type-container').classList.add('hidden');
        document.querySelector('#type-form-exterior').innerHTML = "";
    });

    document.querySelector('#mock-type-form').addEventListener("change", function () {
        var mock_type = document.querySelector('#mock-type').value;
        var year_form = document.querySelector('#year-type-form');
        var second_type_form = document.querySelector('#type-form');
        var submit_mck_btn = document.querySelector('#submit-mock-btn');
        var contest_type = document.querySelector('#contest-type').value;

        if (mock_type == "") {
            return;
        }

        if (mock_type == "year") {
            var year_html = `<select class="form-select answer-choice" aria-label="Year" id="year-type" name="year-type" style="border: 1px solid gray; margin-bottom: 2px;"><option value="" selected>------</option>`, start_year, end_year;

            if (contest_type == "amc10" || contest_type == "amc12" || contest_type == "amc8") {
                start_year = {{ year_map["amc10"][0] }};
                end_year = {{ year_map["amc10"][1] }};
            } else if (contest_type == "aime") {
                start_year = {{ year_map["aime"][0] }};
                end_year = {{ year_map["aime"][1] }};
            } else if (contest_type == "pascal" || contest_type == "cayley" || contest_type == "fermat") {
                start_year = {{ year_map["pascal"][0] }};
                end_year = {{ year_map["pascal"][1] }};
            }

            for (let i = end_year; i >= start_year; --i) {
                year_html += `<option value=${i}>${i}</option>`;
            }

            year_html += `</select><br>`;
            year_form.innerHTML = year_html;
            document.querySelector('#year-container').classList.remove('hidden');

            submit_mck_btn.classList.add('hidden');
            submit_mck_btn.innerHTML = "";
        } else {
            submit_mck_btn.innerHTML = `<button class="btn btn-lg btn-outline-primary" style="width: 100%; margin-top: 20px;" id="submit-mock" onclick="submitMock()">Submit</button>`;
            submit_mck_btn.classList.remove('hidden');
            year_form.classList.remove('hidden');
            year_form.innerHTML = "";
            second_type_form.classList.remove('hidden');
            second_type_form.innerHTML = "";
        }
    });
    document.querySelector('#year-type-form').addEventListener("change", function () {
        var contest_type = document.querySelector('#contest-type').value;
        var mock_type = document.querySelector('#mock-type').value;
        var still_needed = false;
        var year = document.querySelector('#year-type').value;

        if (mock_type == "year") {
            if (contest_type == "amc10" || contest_type == "amc12") {
                document.querySelector('#type-form-exterior').innerHTML = `<select class="form-select answer-choice" aria-label="Type" id="type-form" name="type-form" style="border: 1px solid gray; margin-bottom: 2px;"><option value="" selected>------</option><option value="A">A</option><option value="B">B</option></select><br>`;
            } else if (contest_type == "aime" && year >= 2000) {
                document.querySelector('#type-form-exterior').innerHTML = `<select class="form-select answer-choice" aria-label="Type" id="type-form" name="type-form" style="border: 1px solid gray; margin-bottom: 2px;"><option value="" selected>------</option><option value="I">I</option><option value="II">II</option></select><br>`;
            }

            document.querySelector('#year-container').classList.remove('hidden');
            if (contest_type == "amc10" || contest_type == "amc12" || (contest_type == "aime" && year >= 2000)) {
                still_needed = true;
                document.querySelector("#type-container").classList.remove('hidden');
            }
        }

        if (still_needed) {
            return;
        }

        document.querySelector('#submit-mock-btn').innerHTML = `<button class="btn btn-lg btn-outline-primary" style="width: 100%; margin-top: 20px;" id="submit-mock" onclick="submitMock()">Generate Mock</button>`;
        document.querySelector('#submit-mock-btn').classList.remove('hidden');
    });
    document.querySelector('#type-form-exterior').addEventListener("change", function () {
        var type = document.querySelector('#type-form').value;
        if (type == "") {
            return;
        }
        document.querySelector('#submit-mock-btn').innerHTML = `<button class="btn btn-lg btn-outline-primary" style="width: 100%; margin-top: 20px;" id="submit-mock" onclick="submitMock()">Generate Mock</button>`;
        document.querySelector('#submit-mock-btn').classList.remove('hidden');
    });
    function submitMock() {
        var contest_type = document.querySelector('#contest-type').value;
        var mock_type = document.querySelector('#mock-type').value;
        
        var year_type = "", type = "";
        if (mock_type == "year") {
            year_type = document.querySelector('#year-type').value;
            if (contest_type == "amc10" || contest_type == "amc12" || contest_type == "aime") {
                var year = document.querySelector('#year-type').value;
                if (year >= 2000) {
                    type = document.querySelector('#type-form').value;
                } else {
                    type = "-";
                }
            }
        } else {
            year_type = "-1";
            type = "-"
        }

        if (contest_type === "" || mock_type === "" || year_type === "") {
            alert("Please select all options before submitting.");
        } else {
            var url = new URLSearchParams(window.location.search);
            url.set("contest-type", contest_type);
            url.set("mock-type", mock_type);
            url.set("year-type", year_type);
            url.set("type-form", type);
            window.location.href = window.location.href+"?"+url.toString();
        }
    }
</script>
{% else %}
<div class="flex">
    <div style="flex: 4.25; overflow-x: auto">
        {% for problem in problems %}
            <div class="card mb-4">
                <div class="card-body" id="problem-{{ loop.index }}">
                    <h2 class="card-title">Problem {{ loop.index }}</h2>
                    <img src="/{{ problem }}" class="card-img-top" style="border-radius: 10px; border: 2px solid black; height: 100%;"><br><br>
                    <p>If you find any bugs: submit this mock and send us this problem as found on TopsOJ. Report these bugs in our  <a href="https://discord.gg/zUdmCWPT3f">discord server.</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="flex: 0.65; margin-left: 1.5%; height: auto; right: 0;" class="card">
        <div class="sticky">
            <h3>Answer Choices</h3>
            <div id="timer" style="font-weight: bold; margin-top: 10px; font-size: 24px; background-color: lightblue;">{{ time }}</div><br>
                {% if contest_type == "AIME" %}
                    <p>Remember to input leading zeroes.</p>
                {% endif %}
                <div id="dropdowns" style="height: 500px; overflow-y: scroll;">
                    {% for problem in problems %}
                        {% if contest_type == "AIME" %}
                            <div class="flex-desktop">
                                <span style="flex: 0.75; font-size: 20px;"><b>{{ loop.index }}: </b></span>
                                <input type="text" class="form-control answer-choice" aria-label="Choices For problems {{ loop.index }}" id="answer-choice-{{ loop.index }}" style="border: 1px solid gray; margin-bottom: 2px; flex: 3;" maxlength="3">
                            </div>
                        {% else %}
                            <select class="form-select answer-choice" aria-label="Choices For problems {{ loop.index }}" id="answer-choice-{{ loop.index }}" style="border: 1px solid gray; margin-bottom: 2px;">
                                <option value="no-answer" selected>Blank (P{{loop.index}})</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                            </select>
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn-outline-primary" style="width: 100%; margin-top: 20px;" id="submit-answers-btn" onclick="submitAnswers()">Submit Answers</button>
                </div>
        </div>
    </div>
</div>
<script>
    function showCustomAlert(message, user_answers, score, time, correct_answers, wrong_answers, blank_answers) {
        var overlay = document.createElement("div");
        overlay.style.position = "fixed";
        overlay.style.top = "0";
        overlay.style.left = "0";
        overlay.style.width = "100%";
        overlay.style.height = "100%";
        overlay.style.backgroundColor = "rgba(0, 0, 0, 0.75)";
        overlay.style.display = "flex";
        overlay.style.justifyContent = "center";
        overlay.style.alignItems = "center";
        overlay.style.zIndex = "9999";

        var alertBox = document.createElement("div");
        alertBox.style.backgroundColor = "white";
        alertBox.style.padding = "40px";
        alertBox.style.borderRadius = "5px";
        alertBox.style.boxShadow = "0 2px 5px rgba(0, 0, 0, 0.3)";
        alertBox.style.textAlign = "center";
        alertBox.style.position = "relative";
        alertBox.style.overflowY = "scroll";
        alertBox.style.height = "600px";

        var messageElement = document.createElement("span");
        messageElement.textContent = message;
        messageElement.style.marginTop = "20px";
        messageElement.style.fontSize = "15px";
        messageElement.style.fontWeight = "bold";

        var userAnswersList = document.createElement("ul");
        userAnswersList.classList.add("list-group");

        var scrollDiv = document.createElement("div");
        scrollDiv.style.width = "500px";
        scrollDiv.style.maxHeight = "500px";
        scrollDiv.style.overflowY = "scroll";

        var sortedAnswers = correct_answers.concat(wrong_answers, blank_answers);
        var ordered_problems = [];
        {% for pid in pids %}
            ordered_problems.push("{{ pid }}");
        {% endfor %}

        for (var i = 0; i < ordered_problems.length; i++) {
            var listItem = document.createElement("li");
            console.log(`Problem ${(i + 1)} (${ordered_problems[i]}): ${user_answers[i]}`);
            listItem.classList.add("list-group-item");
            listItem.style.color = "black";

            if (correct_answers.includes(ordered_problems[i])) {
                listItem.style.backgroundColor = "#4dc275";
            } else if (blank_answers.includes(ordered_problems[i])) {
                listItem.style.backgroundColor = "yellow";
            } else if (wrong_answers.includes(ordered_problems[i])) {
                listItem.style.backgroundColor = "red";
            }

            var problemsText = document.createElement("strong");
            problemsText.innerHTML = `Problem ${(i + 1)} <a href="/problem/${ordered_problems[i]}" target="_blank" class="badge bg-primary rounded-pill">${ordered_problems[i]}</a> &rarr; ${user_answers[i]}`;
            listItem.appendChild(problemsText);
            listItem.style.textAlign = "left"; // Add this line to align the text to the left
            scrollDiv.appendChild(listItem);
        }

        var scoreElement = document.createElement("div");
        scoreElement.textContent = "Score: " + score + " / {{ max_score }}";
        scoreElement.style.fontSize = "30px";
        scoreElement.style.fontWeight = "bold";
        scoreElement.style.animation = "flash-red 0.5s 4";
        scoreElement.style.color = "#741f22"; // Add this line to set the color of the score

        var timeElement = document.createElement("div");
        timeElement.textContent = "Time Taken [HH-MM-SS]: " + time; // Add this line to display the time taken
        timeElement.style.fontSize = "20px";
        timeElement.style.fontWeight = "bold";

        var colorLegend = document.createElement("div");
        colorLegend.style.marginTop = "20px";
        colorLegend.style.fontSize = "15px";
        colorLegend.style.fontWeight = "bold";

        if (correct_answers.length > 0) {
            var correctLegend = document.createElement("span");
            correctLegend.textContent = "Correct";
            correctLegend.style.backgroundColor = "#4dc275";
            correctLegend.style.padding = "5px";
            correctLegend.style.marginRight = "10px";
            colorLegend.appendChild(correctLegend);
        }

        if (wrong_answers.length > 0) {
            var wrongLegend = document.createElement("span");
            wrongLegend.textContent = "Wrong";
            wrongLegend.style.backgroundColor = "red";
            wrongLegend.style.padding = "5px";
            wrongLegend.style.marginRight = "10px";
            colorLegend.appendChild(wrongLegend);
        }

        if (blank_answers.length > 0) {
            var blankLegend = document.createElement("span");
            blankLegend.textContent = "Blank";
            blankLegend.style.backgroundColor = "yellow";
            blankLegend.style.padding = "5px";
            blankLegend.style.marginRight = "10px";
            colorLegend.appendChild(blankLegend);
        }

        var close_div = document.createElement("div");
        close_div.style.marginTop = "20px";

        var closeButton = document.createElement("button");
        closeButton.type = "button"; // Change the button type to "button"
        closeButton.textContent = "Ok!";
        closeButton.classList.add("btn", "btn-lg", "btn-outline-success");
        closeButton.style.marginTop = "10px";
        closeButton.addEventListener("click", function() {
            overlay.style.display = "none"; // Hide the overlay when the button is clicked
            var saveConfirmation = document.createElement("div");
            saveConfirmation.id = "saveConfirmation";
            saveConfirmation.textContent = "Save this mock? (Click after reading)";
            saveConfirmation.style.backgroundColor = "#f8f9fa";
            saveConfirmation.style.padding = "10px";
            saveConfirmation.style.border = "2px solid black";
            saveConfirmation.style.borderRadius = "5px";
            saveConfirmation.style.marginBottom = "20px";
            saveConfirmation.style.textAlign = "center";
            saveConfirmation.style.fontSize = "18px";
            saveConfirmation.style.fontWeight = "bold";
            saveConfirmation.style.position = "sticky";
            saveConfirmation.style.zIndex = "99999";
            saveConfirmation.style.top = "0";
            saveConfirmation.style.animation = "flash-blue 2.5s infinite";

            var saveButton = document.createElement("button");
            saveButton.type = "submit"; // Change the button type to "submit"
            saveButton.textContent = "Save";
            saveButton.classList.add("btn", "btn-info", "btn-lg", "mr-2");
            saveButton.style.marginRight = "10px";
            saveButton.style.marginLeft = "10px";
            saveButton.addEventListener("click", function() {
                document.getElementById("mock-form").submit(); // Submit the form with id "mock-form"
            });

            var cancelButton = document.createElement("button");
            cancelButton.type = "button";
            cancelButton.textContent = "Cancel";
            cancelButton.classList.add("btn", "btn-secondary", "btn-lg");
            cancelButton.addEventListener("click", function() {
                var saveConfirmation = document.getElementById("saveConfirmation");
                if (saveConfirmation) {
                    saveConfirmation.remove(); // Delete the saveConfirmation element
                }
            });

            saveConfirmation.appendChild(saveButton);
            saveConfirmation.appendChild(cancelButton);

            var body = document.querySelector("body");
            body.insertBefore(saveConfirmation, body.firstChild);
        });

        close_div.appendChild(document.createElement("br"));
        close_div.appendChild(closeButton);

        alertBox.appendChild(messageElement);
        alertBox.appendChild(document.createElement("br"));
        alertBox.appendChild(scoreElement);
        alertBox.appendChild(document.createElement("br"));
        alertBox.appendChild(timeElement); // Add the time element
        alertBox.appendChild(document.createElement("br"));
        if (correct_answers.length > 0 || wrong_answers.length > 0 || blank_answers.length > 0) {
            alertBox.appendChild(colorLegend); // Add the color legend if any of the lists are not empty
            alertBox.appendChild(document.createElement("br"));
        }
        alertBox.appendChild(scrollDiv);
        alertBox.appendChild(close_div); // Add the form to the alert box
        overlay.appendChild(alertBox);
        document.body.appendChild(overlay);
    }

    function submitAnswers(time_is_up=false) {
        var answers = [], answer_key = [];
        {% if answers %}
            {% for answer in answers %}
                answer_key.push("{{ answer }}");
            {% endfor %}
        {% endif %}
        var score = 0.0, problemIds = [], correct = [], wrong = [], blank = [];
        {% for problem in problems %}
            var problemId = "{{ problem.split('/')[-1][:-4] }}";
            if (problemId.match(/_p\d$/)) {
                problemId = problemId.replace(/_p(\d)$/, "_p0$1");
            }
            problemIds.push(problemId);
        {% endfor %}
        for (var i = 1; i <= {{ problems|length }}; i++) {
            var select = document.getElementById('answer-choice-' + i);
            select.disabled = true; // Disable answer form choice dropdown
            select.style.cursor = "not-allowed"; // Change the cursor to indicate that the dropdown is disabled
            select.innerHTML = "<option value='" + select.value + "' selected>" + select.value + " [SUBMITTED]</option>"; // Change the dropdown to show the selected answer
            answers.push(select.value);
            problem_div = document.querySelector("#problem-" + i);
            var anchorElement = document.createElement("a");
            anchorElement.href = "/problem/" + problemIds[i-1];
            anchorElement.textContent = "View on TopsOJ";
            anchorElement.style.fontWeight = "bold";
            anchorElement.style.fontSize = "20px";
            anchorElement.target = "_blank";
            problem_div.appendChild(document.createElement("br"));
            problem_div.appendChild(anchorElement);
            {% if contest_type == "AMC 10" or contest_type == "AMC 12" %}
                if (select.value == "no-answer") {
                    blank.push(problemIds[i-1]);
                    score += 1.5;
                } else if (select.value == answer_key[i - 1]) {
                    correct.push(problemIds[i-1]);
                    score += 6;
                } else {
                    wrong.push(problemIds[i-1]);
                }
            {% else %}
                if (select.value == answer_key[i - 1]) {
                    correct.push(problemIds[i-1]);
                    score += 1;
                } else {
                    wrong.push(problemIds[i-1]);
                }
            {% endif %}
        }
        document.querySelector("#score").value = score;
        var originalTime = "{{ time }}"; // Replace with the original time value
        var newTime = document.querySelector("#timer").textContent;
        var timeDifferential = getTimeDifferential(originalTime, newTime);
        document.querySelector("#time").value = timeDifferential;

        function getTimeDifferential(originalTime, newTime) {
            var originalTimeParts = originalTime.split(":");
            var newTimeParts = newTime.split(":");
            var originalHours = parseInt(originalTimeParts[0]);
            var originalMinutes = parseInt(originalTimeParts[1]);
            var originalSeconds = parseInt(originalTimeParts[2]);
            var newHours = parseInt(newTimeParts[0]);
            var newMinutes = parseInt(newTimeParts[1]);
            var newSeconds = parseInt(newTimeParts[2]);

            var hoursDiff = originalHours - newHours;
            var minutesDiff = originalMinutes - newMinutes;
            var secondsDiff = originalSeconds - newSeconds;

            // Handle negative time differentials
            if (secondsDiff < 0) {
                secondsDiff += 60;
                minutesDiff--;
            }
            if (minutesDiff < 0) {
                minutesDiff += 60;
                hoursDiff--;
            }

            var timeDifferential = formatTime(hoursDiff, minutesDiff, secondsDiff);
            return timeDifferential;
        }

        function formatTime(hours, minutes, seconds) {
            var formattedTime = "";
            if (hours < 10) {
                formattedTime += "0";
            }
            formattedTime += hours + "-";
            if (minutes < 10) {
                formattedTime += "0";
            }
            formattedTime += minutes + "-";
            if (seconds < 10) {
                formattedTime += "0";
            }
            formattedTime += seconds;
            return formattedTime;
        }

        document.querySelector("#contest_type").value = "{{ mock_type }}";
        document.querySelector("#correct").value = correct;
        document.querySelector("#wrong").value = wrong;
        document.querySelector("#blank").value = blank;
        document.querySelector("#user_answers").value = answers;
        document.querySelector("#pid_list").value = problemIds;
        document.querySelector("#submit-answers-btn").disabled = true;
        document.querySelector("#submit-answers-btn").style.cursor = "not-allowed";
        if (time_is_up) {
            message = "Time is up! Here are your results ({{ mock_type }}):"
            timeDifferential = originalTime.replace(/:/g, "-");
        } else {
            message = "Thank you for submitting! Here are your results ({{ mock_type }}):"
        }
        endTimer();
        var save_mock = showCustomAlert(message, answers, score, timeDifferential, correct, wrong, blank);
        document.querySelector("#title").innerHTML = "Mock Generator - Finished";
    }

    var timerInterval;

    function startTimer() {
        var timerElement = document.getElementById("timer"), raw_time = "{{ time }}";
        var splits = raw_time.split(":"), hours = parseInt(splits[0]), minutes = parseInt(splits[1]), seconds = parseInt(splits[2]);

        timerInterval = setInterval(function() {
            var formattedTime = hours.toString().padStart(2, "0") + ":" + minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0");
            document.title = "{{ contest_type }} Mock • " + formattedTime + " • TopsOJ";
            if (hours === 0 && minutes === 0 && seconds === 0) {
                clearInterval(timerInterval);
                timerElement.textContent = "Time is up!";
                submitAnswers(true);
            } else {
                if (seconds === 0) {
                    if (minutes === 0) {
                        hours--;
                        minutes = 59;
                    } else {
                        minutes--;
                    }
                    seconds = 59;
                } else {
                    seconds--;
                }
                timerElement.textContent = formattedTime;
            }
        }, 1000);
    }

    function endTimer() {
        clearInterval(timerInterval);
    }

    function startCountdown(pre_text, seconds) {
        var countdownOverlay = document.createElement("div");
        countdownOverlay.id = "countdown-overlay";
        countdownOverlay.style.position = "fixed";
        countdownOverlay.style.top = "0";
        countdownOverlay.style.left = "0";
        countdownOverlay.style.width = "100%";
        countdownOverlay.style.height = "100%";
        countdownOverlay.style.backdropFilter = "blur(8px)";
        countdownOverlay.style.display = "flex";
        countdownOverlay.style.justifyContent = "center";
        countdownOverlay.style.alignItems = "center";
        countdownOverlay.style.zIndex = "9999";
        countdownOverlay.style.transition = "opacity 0.5s ease-out"; // Add transition for fade effect
    
        var countdownText = document.createElement("div");
        countdownText.style.fontFamily = "Arial, sans-serif";
        countdownText.style.fontSize = "48px";
        countdownText.style.fontWeight = "bold";
        countdownText.style.color = "black!important";
        countdownText.style.textShadow = "0 0 5px black";
        countdownText.textContent = pre_text + seconds.toFixed(1); // Initial countdown value with 1/10th of seconds
        countdownOverlay.appendChild(countdownText);
    
        document.body.appendChild(countdownOverlay);
    
        // Countdown timer
        var count = seconds;
        var countdownInterval = setInterval(function() {
            count -= 0.01;
            if (count < 0) {
                count = 0;
            }
            countdownText.textContent = pre_text + count.toFixed(2).toString() + "s";
            if (count <= 0) {
                clearInterval(countdownInterval);
                countdownOverlay.style.opacity = "0"; // Start fading out
                setTimeout(function() {
                    countdownOverlay.style.display = "none";
                }, 500);
            }
        }, 10);
    }

    startCountdown("{{ contest_type }} Mock Starting In ", 5);
    setTimeout(function () {
        startTimer();
    }, 5500);
</script>
{% endif %}
<form method="post" class="hidden" id="mock-form" action="">
    <input type="hidden" id="score" name="score">
    <input type="hidden" id="time" name="time">
    <input type="hidden" id="contest_type" name="contest_type">
    <input type="hidden" id="correct" name="correct[]">
    <input type="hidden" id="wrong" name="wrong[]">
    <input type="hidden" id="blank" name="blank[]">
    <input type="hidden" id="user_answers" name="user_answers[]">
    <input type="hidden" id="pid_list" name="pid_list[]">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
