{% extends "layout.html" %}

{% block title %}Admin Console{% endblock %}
{% block active %}Admin Console{% endblock %}

{% block main %}
<h1>Admin Console</h1>
<div class="row">
    {% if check_perm(["ADMIN", "SUPERADMIN", "PROBLEM_MANAGER", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-green">
            <div class="card-body">
                <h5 class="card-title fw-bold">User Management</h5>
                <p class="card-text">Manage users and their submissions.</p>
                {% if check_perm(["ADMIN", "SUPERADMIN"]) %}
                    <div class="btn-group d-flex mb-2" role="group" aria-label="Contests &amp; Problems">
                        <a class="btn btn-outline-primary flex-fill" href="/admin/users" role="button">Users</a>
                        <a class="btn btn-outline-primary flex-fill" href="/admin/createteamaccount" role="button">Create Team Account</a>
                    </div>
                {% endif %}
                <div class="btn-group d-flex" role="group" aria-label="Contests &amp; Problems">
                    <a class="btn btn-outline-primary flex-fill" href="/admin/submissions" role="button">View Global Submissions</a>
                    <a class="btn btn-outline-primary flex-fill" href="/organizations" role="button">Manage Organizations</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-red">
            <div class="card-body">
                <h5 class="card-title fw-bold">Create Site Content</h5>
                <p class="card-text">Create and post new announcements, contests, &amp; courses.</p>
                <div class="btn-group d-flex" role="group" aria-label="Contests &amp; Problems">
                    <a class="btn btn-outline-primary flex-fill" href="/admin/createannouncement" role="button">Create Announcement</a>
                    <a class="btn btn-outline-primary flex-fill" href="/contests/create" role="button">Create Contest</a>
                    <a class="btn btn-outline-primary flex-fill" href="/courses/create" role="button">Create Course</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if check_perm(["ADMIN", "SUPERADMIN", "PROBLEM_MANAGER", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-purple">
            <div class="card-body">
                <h5 class="card-title fw-bold">Manage Problems</h5>
                <p class="card-text">Create problems and view draft problems.</p>
                <div class="btn-group d-flex" role="group" aria-label="Contests &amp; Problems">
                    <a class="btn btn-outline-primary flex-fill" href="/problems/create" role="button">Create Problem</a>
                    <a class="btn btn-outline-primary flex-fill" href="/problems/draft" role="button">VIew Draft Problems</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
    <div class="col-sm-6 admin-card">
        <div class="card bg-ld-blue">
            <div class="card-body">
                <h5 class="card-title fw-bold">Manage Homepage</h5>
                <p class="card-text">Edit and preview your homepage, if enabled in site settings.</p>
                <a class="btn btn-primary" href="/admin/edithomepage" role="button">Edit Homepage</a>
                <br>
                <br>
                <a class="btn btn-primary" href="/admin/previewhomepage" role="button">Preview Homepage</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% if check_perm(["ADMIN", "SUPERADMIN"]) %}
<hr>
<h3>Maintenance Mode<h3>
<p class="lead">
    The only thing maintenance mode should be used for is to make significant changes to the
    database that requires nobody writes to it during that time, as well as 5 minutes before a
    reboot to let users know that the site will be down momentarily. If the application is rebooted,
    maintenance mode will remain on. To disable it, log in as an admin account and navigate back to
    this page or remove the 'maintenance_mode' file on the server.
</p>
<form action="/admin/maintenance" method="POST">
    {% if maintenance_mode %}
        <input type="submit" class="btn btn-lg btn-outline-danger fw-bold" value="Disable Maintenance Mode">
    {% else %}
        <input type="submit" class="btn btn-lg btn-outline-danger fw-bold" value="Enable Maintenance Mode">
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endif %}
{% endblock %}