{% extends "layout.html" %}

{% block title %}Changelog{% endblock %}
{% block active %}Changelog{% endblock %}

{% block main %}
<h1>TopsOJ Feature Changelog</h1>
<br>

<style>
    .changelog-card {
      background-color: #ffe2e4;
      margin-bottom: 20px;
      border-radius: 10px;
    }

    .changelog-card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      background-color: #741f22!important;
      color: #ffffff;
      padding: 5px;
      font-weight: bold;
      -moz-border-radius: 0px!important;
      -webkit-border-radius: 10px 10px 0px 0px!important;
      border-radius: 10px 10px 0px 0px!important; 
    }

    .card-body {
      padding: 20px;
    }

    .version {
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    .changes {
      margin-top: 15px;
    }

    .mini-release {
      background-color: #fff4f5;
      padding: 12px;
      border-radius: 10px;
    }

    .mini-release:hover {
      transition: 0.3s ease-in-out;
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Dark Mode */

    .dark .changelog-card {
      background-color: #1a1a1a;
    }

    .dark .card-header {
      background-color: #741f22!important;
      color: #ffffff;
    }

    .dark .card-body {
      background-color: #1a1a1a;
      color: #ffffff;
    }

    .dark .version {
      color: #ffffff;
    }

    .dark .mini-release {
      background-color: #3d3d3d;
    }

    .dark .mini-release:hover {
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    }

    h4 {
      color: #7d7d7d;
      font-style: oblique;
    }

    .dark span {
        color: white!important;
    }
</style>

<div class="changelog-card">
  <div class="card-header">
    Version 24.3 (TopsOJ April Version)
  </div>
  <div class="card-body">
    <p>Published on April 6, 2024</p>
    <div class="changes">
      <div class="mini-release">
        <h4>24.4.1</h4>
        <p><span style="color: #741f22!important;">➥</span> Added search by points (upper and lower bound supported).</p>
        <p><span style="color: #741f22!important;">➥</span> Made several limited features public (for users who aren't logged in).</p>
        <p><span style="color: #741f22!important;">➥</span> Patched/balanced some triangulate features.</p>
        <p><span style="color: #741f22!important;">➥</span> Added ranking for most points in the last 7 days.</p>
        <p><span style="color: #741f22!important;">➥</span> Fixed positioning errors.</p>
        <p><span style="color: #741f22!important;">➥</span> Improved attributions &amp; added recent AMC 8/10/12 problems.</p>
      </div><br>
      <div class="mini-release">
        <h4>24.4.2</h4>
        <span><span style="color: #741f22!important;">➥</span> Added the option for users to hide problem tags.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> The option to view this can be toggled in user settings.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Problem lists will now display whether tags are hidden or not.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> This setting is overridden in the problem itself, where a temporary button can show/hide tags at will (default hidden)</span><br><br>
        <p><span style="color: #741f22!important;">➥</span> Fixed dark mode in changelog.</p>
        <p><span style="color: #741f22!important;">➥</span> Added a filter so you can hide problems you have solved.</p>
        <p><span style="color: #741f22!important;">➥</span> You can now sort problems by category/name/solves/point value by clicking the corresponding title in the problems table.</p>
        <p><span style="color: #741f22!important;">➥</span> Fixed security bugs involving user submissions.</p>
      </div><br>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 24.3 (TopsOJ March Version)
  </div>
  <div class="card-body">
    <p>Published on March 3, 2024</p>
    <div class="changes">
      <div class="mini-release">
        <h4>24.3.1</h4>
        <p><span style="color: #741f22!important;">➥</span> Added triangulate.</p>
        <p><span style="color: #741f22!important;">➥</span> Balanced and fixed triangulate.</p>
        <p><span style="color: #741f22!important;">➥</span> Fixed bugs involving post contest.</p>
        <p><span style="color: #741f22!important;">➥</span> Contest display fixes.</p>
      </div><br>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 24.2 (TopsOJ February Version)
  </div>
  <div class="card-body">
    <p>Published on February 3, 2024</p>
    <div class="changes">
      <div class="mini-release">
        <h4>24.2.1</h4>
        <p><span style="color: #741f22!important;">➥</span> Enlarged all problems.</p>
        <p><span style="color: #741f22!important;">➥</span> Began tag adding to problems.</p>
        <p><span style="color: #741f22!important;">➥</span> Highlights user in rankings.</p>
        <p><span style="color: #741f22!important;">➥</span> Added contest join confirmations.</p>
      </div><br>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 24.1 (TopsOJ January Version)
  </div>
  <div class="card-body">
    <p>Published on January 1, 2024</p>
    <div class="changes">
      <div class="mini-release">
        <h4>24.1.1</h4>
        <p><span style="color: #741f22!important;">➥</span> Fixed admin backend bugs and displays.</p>
        <p><span style="color: #741f22!important;">➥</span> Fixed a variety of team contest bugs.</p>
        <p><span style="color: #741f22!important;">➥</span> Added next set/problem for live contests.</p>
        <p><span style="color: #741f22!important;">➥</span> Massive contest query optimizations.</p>
        <p><span style="color: #741f22!important;">➥</span> Changed "efficiency" stat to "general rating".</p>
        <p><span style="color: #741f22!important;">➥</span> Changed ranking icons/gradient.</p>
      </div><br>
      <div class="mini-release">
        <h4>24.1.2</h4>
        <p><span style="color: #741f22!important;">➥</span> Officially released dark mode as beta.</p>
        <p><span style="color: #741f22!important;">➥</span> Fixed email sending bugs.</p>
        <p><span style="color: #741f22!important;">➥</span> Added time zone aware URL's in contest start and end times.</p>
        <p><span style="color: #741f22!important;">➥</span> Finished "Our Team", "Uptime", and "Changelog" in the info section.</p>
      </div><br>
      <div class="mini-release">
        <h4>24.1.3</h4>
        <p><span style="color: #741f22!important;">➥</span> Implemented and released the Mock Generator.</p>
        <p><span style="color: #741f22!important;">➥</span> Improved rating algorithm (releasing next month)</p>
        <p><span style="color: #741f22!important;">➥</span> Implemented and added contest timed windows.</p>
        <p><span style="color: #741f22!important;">➥</span> Repaired some more broken problems.</p>
        <p><span style="color: #741f22!important;">➥</span> Added discord section in "Info" using a discord widget.</p>
      </div><br>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 23.12 (TopsOJ December Version)
  </div>
  <div class="card-body">
    <p>Published on December 1, 2023</p>
    <div class="changes">
      <div class="mini-release">
        <h4>23.12.1</h4>
        <p><span style="color: #741f22!important;">➥</span> Added guts contest features.</p>
        <p><span style="color: #741f22!important;">➥</span> Added problem tags.</p>
        <p><span style="color: #741f22!important;">➥</span> Started contest rating algorithm.</p>
        <p><span style="color: #741f22!important;">➥</span> Minor color modifications.</p>
        <p><span style="color: #741f22!important;">➥</span> Added hover-growable elements (CSS)</p>
        <p><span style="color: #741f22!important;">➥</span> Problem edit/create quality of life updates.</p>
        <p><span style="color: #741f22!important;">➥</span> Fixed bug with "Filter by category".</p>
      </div><br>
      <div class="mini-release">
        <h4>23.12.2</h4>
        <span><span style="color: #741f22!important;">➥</span>Start making math gym, added colorful gradients.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Global Problems</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> POTD Lists</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> POTD Leaderboard</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Mental math practice</span><p></p>
        <p><span style="color: #741f22!important;">➥</span> Improved problem icons, added an "attempted" icon.</p>
        <p><span style="color: #741f22!important;">➥</span> Added a "search by problem title" feature with fuzzy search.</p>
        <p><span style="color: #741f22!important;">➥</span> Added ranking medals beside top five users.</p>
        <p><span style="color: #741f22!important;">➥</span> Split user profiles into "user-info" and "quick stats".</p>
      </div><br>
      <div class="mini-release">
        <h4>23.12.3</h4>
        <p><span style="color: #741f22!important;">➥</span> Added a gradient asthetic for top five users in user-info</p>
        <p><span style="color: #741f22!important;">➥</span> Added a multi-select "search by tags" featrure for problems.</p>
        <p><span style="color: #741f22!important;">➥</span> Improved problem search UI</p>
        <p><span style="color: #741f22!important;">➥</span> Vastly improved account email confirmation UI</p>
        <p><span style="color: #741f22!important;">➥</span> Added all CEMC PCF problems</p>
        <p><span style="color: #741f22!important;">➥</span> Added next/prev button for problems in a contest (such as AMC).</p>
        <p><span style="color: #741f22!important;">➥</span> Added search by users and rankings page by 50.</p>
        <p><span style="color: #741f22!important;">➥</span> Added site tester perm, improved team algorithms, added team features.</p>
      </div>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 23.11 (Official Release)
  </div>
  <div class="card-body">
    <p>Published on November 1, 2023</p>
    <div class="changes">
      <div class="mini-release">
        <h4>23.11.1</h4>
        <p><span style="color: #741f22!important;">➥</span> Performance updates on redirects.</p>
        <p><span style="color: #741f22!important;">➥</span> Repaired broken AIME problems.</p>
        <p><span style="color: #741f22!important;">➥</span> Backend NGINX/server optimizations.</p>
      </div><br>
      <div class="mini-release">
        <h4>23.11.2</h4>
        <p><span style="color: #741f22!important;">➥</span> Balanced out the efficiency statistic by adding weightings and more factors.</p>
        <span><span style="color: #741f22!important; margin-bottom: 10px;">➥</span> Added basic and advanced user statistics.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Basic stats: join date, problems solved and points.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Advanced stats: everything else, such as total submissions.</span><p></p>
      </div><br>
      <div class="mini-release">
        <h4>23.11.3</h4>
        <span><span style="color: #741f22!important;">➥</span> Quality of life updates</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Seperate contest rankings.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Minor positioning fixes.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Color modifications.</span><p></p>
        <span><span style="color: #741f22!important;">➥</span> Bug fixes</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Fixed installer bugs.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Fixed contest related bugs.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Fixed backend bugs.</span><p></p>
        <span><span style="color: #741f22!important;">➥</span>Security updates</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Updated <code style="font-size: 16px;">requirements.txt</code></span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Updated module versions.</span>
        <br>&emsp;&emsp;<span style="color: #888888; font-style: oblique"><span style="color: #741f22!important; font-style: normal">➜</span> Improved helper functions.</span><p></p>
        <p><span style="color: #741f22!important;">➥</span> Added global/public submission viewing.</p>
      </div><br>
      <div class="mini-release">
        <h4>23.11.4</h4>
        <p><span style="color: #741f22!important;">➥</span> Huge performance update with SQL query optimizations.</p>
        <p><span style="color: #741f22!important;">➥</span> Added specific submission viewing for problems and contests.</p>
        <p><span style="color: #741f22!important;">➥</span> Minor UI fix with login page, register page, and problems page.</p>
        <p><span style="color: #741f22!important;">➥</span> Admin related updates involving submissions.</p>
      </div><br>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 23.10 (Beta Release)
  </div>
  <div class="card-body">
    <p>Published on October 1, 2023</p>
    <div class="changes">
      <div class="mini-release">
        <h4>23.10.1</h4>
        <p><span style="color: #741f22!important;">➥</span> Fixed contest system and API.</p>
        <p><span style="color: #741f22!important;">➥</span> General UI Improvements.</p>
        <p><span style="color: #741f22!important;">➥</span> Performance Updates.</p>
        <p><span style="color: #741f22!important;">➥</span> Formatting and alert/warning design changes.</p>
      </div><br>
      <div class="mini-release">
        <h4>23.10.2</h4>
        <p><span style="color: #741f22!important;">➥</span> Edited alerts and cards related to contest.</p>
        <p><span style="color: #741f22!important;">➥</span> Permanently changed domain to <a href="https://www.topsoj.com">https://www.topsoj.com/</a>.</p>
        <p><span style="color: #741f22!important;">➥</span> Repaired broken problems.</p>
        <p><span style="color: #741f22!important;">➥</span> Added virtual/post-contest solving.</p>
      </div><br>
      <div class="mini-release">
        <h4>23.10.3</h4>
        <p><span style="color: #741f22!important;">➥</span> Added a submission limit to current contests, past contests do not have this limit.</p>
        <p><span style="color: #741f22!important;">➥</span> Added an efficiency statistic for users (this was renamed to "General Rating" in version 24.1).</p>
        <p><span style="color: #741f22!important;">➥</span> UX and UI improvements related to rankings and scoreboard.</p>
      </div>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 23.9 (Alpha Release)
  </div>
  <div class="card-body">
    <p>Published on September 16, 2023</p>
    <div class="changes">
      <p><span style="color: #741f22!important;">➥</span> Initial public release</p>
    </div>
  </div>
</div>

<div class="changelog-card">
  <div class="card-header">
    Version 1.0 (Raw Creation)
  </div>
  <div class="card-body">
    <p>Published on July 27, 2023</p>
    <div class="changes">
      <p><span style="color: #741f22!important;">➥</span> Initial private release (first domain)</p>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}

{% endblock %}