{% extends "layout.html" %}

{% block title %}Create Problem{% endblock %}
{% block active %}Practice{% endblock %}

{% block main %}
<h1>Create Problem</h1> <br>
<form autocomplete="off" method="post" id="create" name="create" enctype="multipart/form-data">
    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="id" name="id" placeholder="Problem ID" required>
        <label for="id">Problem ID</label>
    </div>

    <div class="form-floating">
        <input class="form-control mb-3" type="text" id="name" name="name" placeholder="Problem Name" required>
        <label for="name">Problem Name</label>
    </div>

    <button class="btn btn-secondary fw-bold" id="open_description" type="button">Open Markdown Editor</button>
    <div class="row" id="description" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Description</u></h4>
            <div id="description_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Description</u></h4>
            <div id="description_html"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_desc" name="description_md">
    <input type="hidden" id="html_inp_desc" name="description_html">

    <button class="btn btn-secondary fw-bold" id="open_hint" type="button">Open Markdown Editor</button>
    <div class="row" id="hint" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Hints</u></h4>
            <div id="hint_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Hints</u></h4>
            <div id="hint_html" class="md-preview"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_hint" name="hints_md">
    <input type="hidden" id="html_inp_hint" name="hints_html">

    <span>Refer <a href="https://artofproblemsolving.com/wiki/index.php/AoPS_Wiki:Competition_ratings" target="_blank">here</a> for point value scales</span>
    <div class="form-floating">
        <input class="form-control mb-3"
               type="number"
               name="point_value"
               id="point_value"
               placeholder="Point Value"
               required>
        <label for="point_value">Point Value</label>
    </div>

    <div class="form-floating">
        <input class="form-control mb-3" type="text" name="category" id="category" placeholder="Category" required>
        <label for="category">Category</label>
    </div>
    <div class="form-floating">
        <input class="form-control mb-3" type="text" name="answer" id="answer" placeholder="Answer" required>
        <label for="category">Answer</label>
    </div>
    <input class="form-control mb-3" type="file" name="file" accept=".zip">

    <h3>Problem Tags</h3>
    <div class="form-floating" id="tag-form">
        <div class="input-group mb-3">
            <input id="userinput" type="text" class="form-control" placeholder="Add a tag..." aria-label="Add a tag" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-info" id="enter" type="button">Add</button>
            </div>
        </div>
        <ul id="taglist" class="list-group"></ul> <br>
    </div>

    <div class="form-control mb-3 border-0">
        <input type="checkbox" id="draft" name="draft">
        <label for="draft">Draft?</label>
    </div>

    <input class="btn btn-primary fw-bold" type="submit" id="submit" name="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const md_raw_description = document.querySelector("#description_md_raw");
    const html_description = document.querySelector("#description_html");
    var desc_opened = false;
    md_raw_description.innerText = "The markdown for the description goes here...";
    html_description.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
    document.querySelector("#open_description").addEventListener("click", function() {
        let inp_desc_data = "Type your description markdown here...";
        if (desc_opened) inp_desc_data = md_raw_description.innerText;
        md2html_interactive(inp_desc_data).then((result) => {
            md_raw_description.innerText = result.md;
            html_description.innerHTML = result.html;
            renderLatex();
            document.querySelector("#md_inp_desc").value = result.md;
            document.querySelector("#html_inp_desc").value = result.html;
            if (!desc_opened) desc_opened = true;
        }).catch((e) => { console.error(e); });
    });

    const md_raw_hint = document.querySelector("#hint_md_raw");
    const html_hint = document.querySelector("#hint_html");
    var hint_opened = false;
    md_raw_hint.innerText = "The markdown for the hint goes here...";
    html_hint.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
    document.querySelector("#open_hint").addEventListener("click", function() {
        let inp_hint_data = "Type your hints markdown here...";
        if (hint_opened) inp_hint_data = md_raw_hint.innerText;
        md2html_interactive(inp_hint_data).then((result) => {
            md_raw_hint.innerText = result.md;
            html_hint.innerHTML = result.html;
            renderLatex();
            document.querySelector("#md_inp_hint").value = result.md;
            document.querySelector("#html_inp_hint").value = result.html;
            if (!hint_opened) hint_opened = true;
        }).catch((e) => { console.error(e); });            
    });

    var button = document.querySelector("#enter");
    var input = document.querySelector("#userinput");
    var tags = document.querySelector("#taglist");

    input.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            button.click();
        }
    });

    
    button.addEventListener("click", function() {
        var userInput = input.value.trim().toLowerCase();

        userInput = userInput.charAt(0).toUpperCase() + userInput.slice(1);
        var tagExists = Array.from(tags.children).some(function(li) { return li.textContent.trim() === userInput; });

        if (!tagExists && userInput !== "") {
            var li = document.createElement("li");
            li.className = 'list-group-item d-flex justify-content-between align-items-center';
            li.textContent = userInput;
            var del_btn = document.createElement("img");
            del_btn.src = "../../assets/images/trash.svg";
            del_btn.style.height = "16px";
            del_btn.style.width = "16px";
            del_btn.style.cursor = "pointer";
            del_btn.alt = "Remove";
            del_btn.className = "svg-brand";
            li.appendChild(del_btn);
            tags.appendChild(li);
            input.value = "";
            del_btn.addEventListener("click", function() { tags.removeChild(li); });
        } else {
            alert("Tag already added or cannot be empty!");
        }

        var existingInput = document.querySelector('input[name="taglist[]"]');
        if (existingInput) {
            existingInput.remove();
        }

        var taglist = document.getElementById('taglist');
        var tag_strings = Array.from(taglist.children).map(function(li) { return li.textContent.trim(); });
        var serializedTags = JSON.stringify(tag_strings);
        var tag_input = document.createElement('input');

        tag_input.type = 'hidden';
        tag_input.name = 'taglist[]';
        tag_input.value = serializedTags;
        document.querySelector("#tag-form").appendChild(tag_input);
    });
</script>
{% endblock %}
