{% extends "layout.html" %}

{% block title %}Edit {{ data["name"] }}{% endblock %}
{% block active %}Practice{% endblock %}

{% block preload %}
    <link rel="preload" href="/api/{% if data['private'] %}private{% else %}public{% endif %}problem?id={{ request.path.split('/')[2] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit {{ data["name"] }}</h1> <br>
<form autocomplete="off" method="post">
    <div class="form-floating">
        <input class="form-control mb-3"
               name="name"
               id="name"
               value="{{ data['name'] }}"
               placeholder="Name"
               required>
        <label for="name">Problem Name</label>
    </div> <hr>

    <button class="btn btn-secondary fw-bold" id="open_description" type="button">Open Markdown Editor</button>
    <div class="row" id="description" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Description</u></h4>
            <div id="description_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Description</u></h4>
            <div id="description_html"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_desc" name="description_md">
    <input type="hidden" id="html_inp_desc" name="description_html">

    <button class="btn btn-secondary fw-bold" id="open_hint" type="button">Open Markdown Editor</button>
    <div class="row" id="hint" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Hints</u></h4>
            <div id="hint_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Hints</u></h4>
            <div id="hint_html" class="md-preview"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_hint" name="hints_md">
    <input type="hidden" id="html_inp_hint" name="hints_html">

    {% if not data["private"] %}
        <div class="form-floating">
            <input class="form-control mb-3"
                name="category"
                id="category"
                value="{{ data['category'] }}"
                placeholder="Category"
                required>
            <label for="category">Category</label>
        </div>
    {% endif %}

    <div style="position: relative;">
        <div class="form-floating">
            <input class="form-control mb-3" id="ans" name="answer" placeholder="New Answer (optional)">
            <label for="flag">New Answer (optional)</label>
        </div>
        <div style="position: absolute; right: 0; top: 0; width: initial;" class="form-control">
            <input type="checkbox" id="rejudge" name="rejudge">
            <label for="rejudge">Rejudge?</label>
        </div>
    </div>
    
    <div class="form-floating">
        <input class="form-control mb-3"
               type="number"
               id="point_value"
               name="point_value"
               value="{{ data['point_value'] }}"
               placeholder="Point Value"
               required>
        <label for="point_value">Point Value</label>
    </div>

    <h3>Problem Tags</h3>
    <div class="form-floating" id="tag-form">
        <div class="input-group mb-3">
            <input id="userinput" type="text" class="form-control" placeholder="Add a tag...">
            <div class="input-group-append">
                <button class="btn btn-outline-info" id="enter" type="button" style="margin-top: 0px;">Add</button>
            </div>
        </div>
        <ul id="taglist" class="list-group">
            {% for tag in tags %}
                <li class="list-group-item d-flex justify-content-between align-items-center tag-list-item" id="tag-{{ loop.index }}">
                    {{ tag }}
                    <img src="../../assets/images/trash.svg" style="height: 16px; width: 16px; cursor: pointer;" alt="Remove" class="svg-brand" id="tag-{{ loop.index }}-del">
                </li>
            {% endfor %}
        </ul> <br>
    </div>

    <input class="btn btn-primary fw-bold" type="submit" id="submit" name="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const problemId = "{{ request.path.split('/')[2] }}";
    const md_raw_description = document.querySelector("#description_md_raw");
    const html_description = document.querySelector("#description_html");
    var desc_opened = false;
    !async function() {
        var md_desc_data, html_desc_data;
        const apiResponse = await fetch("/api/{% if data['private'] %}private{% else %}public{% endif %}problem?id=" + problemId)
        .then((response) => response.json()).catch((error) => {
            console.error(error);
            throw error;
        }); if (apiResponse['status'] !== "success") {
            console.log(`API fail: status: ${apiResponse["status"]}, message: ${apiResponse["message"]}`);
        } else {
            md_desc_data = apiResponse["data"]["description_md"];
            html_desc_data = apiResponse["data"]["description_html"];
        } if (md_desc_data === "") {
            md_raw_description.innerText = "The markdown for the description goes here...";
            html_description.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
        } else {
            md_raw_description.innerText = md_desc_data;
            html_description.innerHTML = html_desc_data;
            document.querySelector("#md_inp_desc").value = md_desc_data;
            document.querySelector("#html_inp_desc").value = html_desc_data;
            renderLatex();
        } document.querySelector("#open_description").addEventListener("click", function() {
            let inp_desc_data = md_desc_data;
            if (desc_opened) inp_desc_data = md_raw_description.innerText;
            md2html_interactive(inp_desc_data).then((result) => {
                md_raw_description.innerText = result.md;
                html_description.innerHTML = result.html;
                renderLatex();
                document.querySelector("#md_inp_desc").value = result.md;
                document.querySelector("#html_inp_desc").value = result.html;
                if (!desc_opened) desc_opened = true;
            }).catch((e) => { console.error(e); });
        });
    } ();

    const md_raw_hint = document.querySelector("#hint_md_raw");
    const html_hint = document.querySelector("#hint_html");
    var hint_opened = false;
    !async function() {
        const md_hint_data = await fetch("/api/{% if data['private'] %}private{% else %}public{% endif %}problem?id="+problemId).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"]["hints_md"];
        }).catch(e => { console.error(e); });
        const html_hint_data = await fetch("/api/{% if data['private'] %}private{% else %}public{% endif %}problem?id="+problemId).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"]["hints_html"];
        }).catch(e => { console.error(e); });
        if (md_hint_data === "") {
            md_raw_hint.innerText = "The markdown for the hint goes here...";
            html_hint.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
        } else {
            md_raw_hint.innerText = md_hint_data;
            html_hint.innerHTML = html_hint_data;
            renderLatex();
            document.querySelector("#md_inp_hint").value = md_hint_data;
            document.querySelector("#html_inp_hint").value = html_hint_data;
        } document.querySelector("#open_hint").addEventListener("click", function() {
            let inp_hint_data = md_hint_data;
            if (hint_opened) inp_hint_data = md_raw_hint.innerText;
            md2html_interactive(inp_hint_data).then((result) => {
                md_raw_hint.innerText = result.md;
                html_hint.innerHTML = result.html;
                renderLatex();
                document.querySelector("#md_inp_hint").value = result.md;
                document.querySelector("#html_inp_hint").value = result.html;
                if (!hint_opened) hint_opened = true;
            }).catch((e) => { console.error(e); });            
        });
    } ();

    var button = document.querySelector("#enter");
    var input = document.querySelector("#userinput");
    var tags = document.querySelector("#taglist");

    var existingInput = document.querySelector('input[name="taglist[]"]');
    if (existingInput) {
        existingInput.remove();
    }

    var taglist = document.getElementById('taglist');
    var tag_strings = Array.from(taglist.children).map(function(li) { return li.textContent.trim(); });
    var serializedTags = JSON.stringify(tag_strings);
    var tag_input = document.createElement('input');

    tag_input.type = 'hidden';
    tag_input.name = 'taglist[]';
    tag_input.value = serializedTags;
    document.querySelector("#tag-form").appendChild(tag_input);

    original_tags = document.querySelector("#taglist").getElementsByTagName("li").length;
    for (let i = 1; i <= original_tags; i++) {
        document.querySelector("#tag-"+i+"-del").addEventListener("click", function() {
            var li = document.querySelector("#tag-"+i);
            tags.removeChild(li);
            var existingInput = document.querySelector('input[name="taglist[]"]');
            if (existingInput) {
                existingInput.remove();
            }
        
            var taglist = document.getElementById('taglist');
            var tag_strings = Array.from(taglist.children).map(function(li) { return li.textContent.trim(); });
            var serializedTags = JSON.stringify(tag_strings);
            var tag_input = document.createElement('input');
        
            tag_input.type = 'hidden';
            tag_input.name = 'taglist[]';
            tag_input.value = serializedTags;
            document.querySelector("#tag-form").appendChild(tag_input);
        });
    }

    input.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            button.click();
        }
    });

    button.addEventListener("click", function() {
        var userInput = input.value.trim().toLowerCase();

        userInput = userInput.charAt(0).toUpperCase() + userInput.slice(1);
        var tagExists = Array.from(tags.children).some(function(li) { return li.textContent.trim() === userInput; });

        if (!tagExists && userInput !== "") {
            var li = document.createElement("li");
            li.className = 'list-group-item d-flex justify-content-between align-items-center tag-list-item';
            li.textContent = userInput;
            var del_btn = document.createElement("img");
            del_btn.src = "../../assets/images/trash.svg";
            del_btn.style.height = "16px";
            del_btn.style.width = "16px";
            del_btn.style.cursor = "pointer";
            del_btn.alt = "Remove";
            del_btn.className = "svg-brand";
            li.appendChild(del_btn);
            tags.appendChild(li);
            input.value = "";
            del_btn.addEventListener("click", function() { tags.removeChild(li); });
        } else {
            alert("Tag already added or cannot be empty!");
        }

        var existingInput = document.querySelector('input[name="taglist[]"]');
        if (existingInput) {
            existingInput.remove();
        }

        var taglist = document.getElementById('taglist');
        var tag_strings = Array.from(taglist.children).map(function(li) { return li.textContent.trim(); });
        var serializedTags = JSON.stringify(tag_strings);
        var tag_input = document.createElement('input');

        tag_input.type = 'hidden';
        tag_input.name = 'taglist[]';
        tag_input.value = serializedTags;
        document.querySelector("#tag-form").appendChild(tag_input);
    });
</script>
{% endblock %}
