<!DOCTYPE html>
<html lang="en">

<body style="background-color: #fff8e6; margin: 0; padding: 10px;">
    <div style="border-radius: 10px; background-color: #ffffff; max-width: 600px; margin: 0 auto;">
        <div style="padding: 20px;">
            <h1 style="text-align: center; color: #741F22;"><b>{{ CLUB_NAME }} Account Confirmation</b></h1>
            <p style="text-align: center;">Thank you for registering an account with <b>{{ CLUB_NAME }}</b>! To complete your registration, please click the link below to verify your email address.</p>
            <a href="{{ url_for('confirm_register', token=token, _external=True) }}" target="_blank" style="display: block; padding: 10px; margin-top: 15px; text-align: center; text-decoration: none; border-radius: 5px; background-color: #28a745; color: #ffffff;">Verify Email Address</a>
            <p style="text-align: center; margin-top: 15px;">If you did not sign up for this account, you can remove your email from our database by clicking the below button.</p>
            <a href="{{ url_for('cancel_register', token=token, _external=True) }}" target="_blank" style="display: block; padding: 10px; margin-top: 15px; text-align: center; text-decoration: none; border-radius: 5px; background-color: #ffffff; color: #dc3545; border: 1px solid #dc3545;">Remove your email from our database</a>
            <p style="text-align: center; margin-top: 15px;">Regards,</p>
            <p style="text-align: center;">{{ CLUB_NAME }}</p>
        </div>
    </div>
</body>

</html>
