{% extends "contest/layout.html" %}

{% block title %}{{ data["name"] }}{% endblock %}
{% block active %}Contests{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contest{% if data['private'] %}private{% else %}public{% endif %}/problem?cid={{ request.path.split('/')[2] }}&pid={{ request.path.split('/')[4] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
{% if ended %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    This contest has ended, so solving a question will not contribute to your points or scoreboard.
    The submission limit has also been lifted.
    <button type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close">
    </button>
</div>
{% endif %}
{% if verdict_alert %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    Note that users who are not admins or content managers will not see the verdict. You are seeing this message because you are an admin or content manager.
    <button type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close">
    </button>
</div>
{% endif %}
{% if last_sub %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    Your last submission was <span style="font-weight: bold">{{ last_sub[0]['ans'] }}</span>.
    <button type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close">
    </button>
</div>
{% endif %}
    <h1>
        {% if show_verdict or ended %}
            {% if data["solved"] %}
                <img class="svg-green icon" src="/assets/images/check.svg"
                    alt="Solved" onerror="this.src='/assets/images/check.png'">
            {% endif %}
        {% endif %}
        {{ data["name"] }}
        {% if private %}<a href="/organization/{{ private_org }}" class="badge bg-secondary rounded-pill growable mx-1" title='This problem is private to the organization "{{ org_name }}" and in a private contest.' data-toggle="tooltip">Private</a>{% endif %}
    </h1>
{% if check_perm(["ADMIN", "SUPERADMIN", "PROBLEM_MANAGER", "CONTENT_MANAGER"]) %}
    <div id="confirm" style="display: none;">
        <form method="post" style="margin-bottom: 1rem;" action="">
            <input class="btn btn-danger" type="submit" value="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
{% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
    <div id="confirm" class="hidden">
        <form method="post" style="margin-bottom: 1rem;" action="{{ request.path }}/publish">
            <input class="btn btn-danger"
                   type="submit"
                   value="Are you sure you want to publish this problem? Click here to confirm.">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
{% endif %}
<div class="flex">
    <div style="flex: 3; padding: 4px; word-break: break-word; min-width: 0px;">
        <div id="problem-description" class="hidden"></div>
        <hr> <b style="color: red;">Reloading the tab will re-submit your current answer to the problem.</b>
        <br> <b style="color: red;">Please report any issues to us in our <a href="https://discord.com/invite/zUdmCWPT3f">Discord server</a>.</b>
        <div id="hint-container">
            <btn class="btn btn-secondary" id="togglehint">
                Show/Hide Hints
            </btn>
            <div id="hint" class="card hidden"></div>
        </div>
        {% if can_prev %}
            <br>
            <a class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="This problem is part of a contest, click this button to go to the previous corresponding problem." style="margin-top: 10px; margin-right: 5px;" href="{{ prev }}">Go to previous contest problem</a>
        {% endif %}
        {% if can_next %}
            {% if not can_prev %}
                <br>
            {% endif %}
            <a class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="This problem is part of a contest, click this button to go to the next corresponding problem." style="margin-top: 10px;" href="{{ nxt }}">Go to next contest problem</a>
        {% endif %}

    </div>
    <div style="flex: 1; padding: 4px;">
        <form autocomplete="off" method="post" style="margin-bottom: 0.5rem;">
            <input class="form-control"
                   name="answer"
                   id="answer"
                   placeholder="Answer"
                   style="margin-bottom: 0.5rem;"
                   required>
            <input class="btn btn-primary problem-submit-button growable" type="submit" id="submit" value="Submit">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>

        <div>
            <b>Category:</b> {{ data["category"] }}<br>
            <b>Points:</b> {{ data["point_value"] }}<br>
            <a href="/contest/{{ request.path.split("/")[2] }}"><b style="color: #50c879!important;">Back to contest</b></a>
            {% if not ended %}
                <br> <span style="color: red;"><b>Submission Limit:</b> {{ sub_lim }} </span>
            {% endif %}
            {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
                <br> <a href="/admin/submissions?contest_id={{ request.path.split('/')[2] }}&problem_id={{ request.path.split('/')[4] }}">All Submissions</a>
                <br> <a href="/admin/submissions?username={{ username }}&contest_id={{ request.path.split('/')[2] }}&problem_id={{ request.path.split('/')[4] }}">My Submissions</a>
            {% elif ended %}
                <br> <a href="/submissions?contest_id={{ request.path.split('/')[2] }}&problem_id={{ request.path.split('/')[4] }}">All Submissions</a>
                <br> <a href="/submissions?username={{ username }}&contest_id={{ request.path.split('/')[2] }}&problem_id={{ request.path.split('/')[4] }}">My Submissions</a>
            {% endif %}
            {% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER", ]) %}
                <br><a href="{{ request.path }}/edit">Edit problem</a>
                <br><a href="{{ request.path }}/download">Download problem</a>
                <br><a href="#" class="btn-delete fw-bold text-danger">Delete problem</a>
                {% if data["draft"] %}
                    <br><a href="#" id="btn-publish" onclick="">
                            Publish problem
                        </a>
                {% endif %}
                {% if not private %}
                    <br><a href="{{ request.path }}/export">Export problem</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const contestId = "{{ request.path.split('/')[2] }}";
    const problemId = "{{ request.path.split('/')[4] }}";
    const hints = document.getElementById("hint");
    fetch("/api/contest{% if private %}private{% else %}public{% endif %}/problem?cid=" + contestId + "&pid=" + problemId).then(b => b.text())
            .then(b => JSON.parse(b)).then(b => {
        if (b["status"] !== "success") {
            console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
            return;
        } document.getElementById("problem-description").innerHTML = b["data"]["description_html"];
	document.getElementById("problem-description").classList.remove("hidden");
        renderLatex();
        if (b["data"]["hints_html"] != "") {
            document.getElementById("hint-container").style.display = "block";
            hints.innerHTML = b["data"]["hints_html"];
            renderLatex();
        }
    });
    document.getElementById("togglehint").addEventListener("click", function() {
        document.getElementById("hint").classList.toggle("hidden");
    });

    const answerInput = document.getElementById("answer");
    const submitButton = document.getElementById("submit");

    answerInput.addEventListener("input", function() {
        if (answerInput.value.trim() === "") {
            submitButton.style.transition = "background-color 0.5s";
            submitButton.style.backgroundColor = "";
        } else {
            submitButton.style.transition = "background-color 0.5s";
            submitButton.style.backgroundColor = "#741F22";
        }
    });

</script>
{% if data["draft"] and check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
    <script>
        document.getElementById("btn-publish").addEventListener("click", function() {
            document.getElementById("confirm").style.display = "block";
        });
    </script>
{% endif %}
{% if check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
<script>
    document.querySelector(".btn-delete").addEventListener("click", function () {
        document.getElementById("confirm").style.display = "";
        document.querySelector("#confirm form")
                .setAttribute("action", window.location.pathname + "/delete");
        document.querySelector("#confirm form .btn")
                .setAttribute("value", "Are you sure you want to delete this problem? " +
                                       "Click here to confirm.");
    });
</script>
{% endif %}
{% endblock %}