{% extends "layout.html" %}

{% block title %}Create Contest{% endblock %}
{% block active %}Contests{% endblock %}

{% block main %}
<h1>Create Contest</h1> <br>
<form autocomplete="off" method="post">

    <div class="form-floating">
        <input class="form-control mb-3"
               name="contest_id"
               id="id"
               placeholder="Contest ID"
               required>
        <label for="id">Contest ID</label>
    </div>

    <div class="form-floating">
        <input class="form-control mb-3"
            name="contest_name"
            id="name"
            placeholder="Contest Name"
            required>
        <label for="name">Contest Name</label>
    </div>

    <button class="btn btn-secondary fw-bold" id="open_description" type="button">Open Markdown Editor</button>
    <div class="row" id="description" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Description</u></h4>
            <div id="description_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Description</u></h4>
            <div id="description_html"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_desc" name="description_md">
    <input type="hidden" id="html_inp_desc" name="description_html">

    <div class="form">
        <label for="start"><b>Start Date &amp; Time</b></label>
        <input class="form-control mb-3"
               type="datetime-local"
               id="start"
               name="start"
               placeholder="Start Date &amp; Time"
               required>
    </div>

    <div class="form">
        <label for="end"><b>End Date &amp; Time</b></label>
        <input class="form-control mb-3"
               type="datetime-local"
               id="end"
               name="end"
               placeholder="End Date &amp; Time"
               required>
    </div>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="scoreboard_visible" name="scoreboard_visible">
        <label for="scoreboard_visible">Scoreboard Visible?</label>
    </div> <hr>

    <h4 style="margin-bottom: 15px;">The Below Values <b style="color: #741F22;">CANNOT BE CHANGED</b></h4>

    <div class="form-floating">
        <input class="form-control mb-3"
               type="number"
               id="submission_limit"
               name="submission_limit"
               placeholder="Submission Limit">
        <label for="submission_limit">Submission Limit (-1 for none)</label>
    </div>

    <div class="mb-2 mt-3">
        Select a contest style:
        <select class="form-select" id="style-select">
            <option value="standard" selected>Standard</option>
            <option value="guts">Guts</option>
            <option value="amc">AMC Style</option>
            <option value="aime">AIME Style</option>
        </select>
        <input type="hidden" id="style" name="style" value="standard">
    </div>

    <div id="style_fields"></div>
    <hr>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="use_window_timer" name="use_window_timer">
        <label for="use_window_timer">Use Timed Window?</label>
    </div>

    <div id="window_time" style="display: none">
        <div class="form-floating">
            <input class="form-control mb-3"
                   type="number"
                   id="window_time"
                   name="window_time"
                   placeholder="Window Time">
            <label for="window_time">Window Time (Seconds)</label>
        </div>
    </div>

    <div class="my-3">
        <input type="checkbox" id="rated" name="rated">
        <label for="rated">Rated?</label>
    </div>

    <div id="weight" style="display: none">
        <div class="form-floating">
            <input class="form-control mb-3"
                   type="float"
                   id="weight"
                   name="weight"
                   placeholder="Contest Weight">
            <label for="weight">Contest Weight (0-1 inclusive)</label>
        </div>
    </div>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="team" name="team">
        <label for="team">Is this contest for a team?</label>
    </div>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="show_verdicts" name="show_verdicts">
        <label for="show_verdicts">Show Problem Verdicts?</label>
    </div><hr>

    <input class="btn btn-primary fw-bold" type="submit" id="submit" name="submit" value="Create Contest">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}

{% block script %}
<script>
    const md_raw_description = document.querySelector("#description_md_raw");
    const html_description = document.querySelector("#description_html");
    var desc_opened = false;
    md_raw_description.innerText = "The markdown for the description goes here...";
    html_description.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
    document.querySelector("#open_description").addEventListener("click", function() {
        let inp_desc_data = "Type your description markdown here...";
        if (desc_opened) inp_desc_data = md_raw_description.innerText;
        md2html_interactive(inp_desc_data).then((result) => {
            md_raw_description.innerText = result.md;
            html_description.innerHTML = result.html;
            renderLatex();
            document.querySelector("#md_inp_desc").value = result.md;
            document.querySelector("#html_inp_desc").value = result.html;
            if (!desc_opened) desc_opened = true;
        }).catch((e) => { console.error(e); });
    });

    document.querySelector("form").addEventListener("submit", function() {
        var formStart = document.getElementById("start");
        var start = new Date(formStart.value).toISOString();
        formStart.setAttribute("type", "text");
        formStart.value = start;

        var formEnd = document.getElementById("end");
        var end = new Date(formEnd.value).toISOString();
        formEnd.setAttribute("type", "text");
        formEnd.value = end;
    });

    document.querySelector('#use_window_timer').addEventListener('change', function () {
        document.getElementById('window_time').style.display = this.checked ? 'block' : 'none';
    });

    document.querySelector('#rated').addEventListener('change', function () {
        document.getElementById('weight').style.display = this.checked ? 'block' : 'none';
    });

    document.querySelector("#style-select").addEventListener("change", function() {
        new_style = document.querySelector("#style-select").value;
        document.querySelector("#style").value = new_style;
        if (new_style === "guts") {
            const gutsFields = document.querySelector("#style_fields");
            if (!this.checked) {
                const expCatField = document.createElement("div");
                expCatField.className = "form-floating";
                expCatField.innerHTML = `
                    <input class="form-control mb-3"
                        name="export_category"
                        id="export_category"
                        placeholder="Export Category"
                        type="export_category"
                        autocomplete="new-export_category"
                        required>
                    <label for="export_category">Export Category</label>
                `;
                gutsFields.appendChild(expCatField);
            } else {
                while (gutsFields.firstChild) {
                    gutsFields.removeChild(gutsFields.firstChild);
                }
            }
        } else {
            document.querySelector("#submission_limit").disabled = true;
        }
    });
</script>
{% endblock %}
