{% extends "layout.html" %}

{% block title %}Edit Contest{% endblock %}
{% block active %}Contests{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contests?id={{ data['id'] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit Contest</h1>
<form autocomplete="off" method="post">
    <div class="form-floating">
        <input class="form-control mb-3"
           name="name"
           id="name"
           placeholder="Contest Name"
           value="{{ data['name'] }}"
           required>
        <label for="name">Contest Name</label>
    </div>

    <button class="btn btn-secondary fw-bold" id="open_description" type="button">Open Markdown Editor</button>

    <div class="row" id="description" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Description</u></h4>
            <div id="description_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Description</u></h4>
            <div id="description_html"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_desc" name="description_md">
    <input type="hidden" id="html_inp_desc" name="description_html">

    <div class="form-floating">
        <input class="form-control mb-3 dtl"
               type="datetime-local"
               id="start"
               name="start"
               placeholder="Start Date &amp; Time"
               value="{{ data['start'] }}"
               required>
        <label for="start">Start Date &amp; Time</label>
    </div>

    <div class="form-floating">
        <input class="form-control mb-3 dtl"
               type="datetime-local"
               id="end"
               name="end"
               placeholder="End Date &amp; Time"
               value="{{ data['end'] }}"
               required>
        <label for="end">End Date &amp; Time</label>
    </div>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="scoreboard_visible" name="scoreboard_visible" {% if data['scoreboard_visible'] %}checked{% endif %}>
        <label for="scoreboard_visible">Scoreboard Visible?</label>
    </div>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="rated" name="rated" {% if data['rated'] %}checked{% endif %}>
        <label for="rated">Rated?</label>
    </div>

    <div id="weight" {% if not data['rated'] %}style="display: none"{% endif %}>
        <div class="form-floating">
            <input class="form-control mb-3"
                   type="float"
                   id="weight"
                   name="weight"
                   placeholder="Contest Weight"
                   value="{{ data['weight'] }}">
            <label for="weight">Contest Weight (0-1 inclusive)</label>
        </div>
    </div>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="team" name="team" {% if data['team_contest'] %}checked{% endif %}>
        <label for="team">Is this contest for a team?</label>
    </div>

    <div class="mb-2 mt-3">
        <input type="checkbox" id="show_verdict" name="show_verdict" {% if data['show_verdict'] %}checked{% endif %}>
        <label for="show_verdict">Show Problem Verdicts?</label>
    </div>

    {% if data['style'] == "guts" %}
        <div class="form-floating">
            <input class="form-control mb-3"
                name="export_category"
                id="export_category"
                placeholder="Export Category"
                type="export_category"
                autocomplete="new-export_category"
                value="{{ data['export_category'] }}"
                required>
            <label for="export_category">Export Category</label>
        </div>
    {% endif %}

    <hr>

    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Edit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const contestId = "{{ data['id'] }}";
    const md_raw_description = document.querySelector("#description_md_raw");
    const html_description = document.querySelector("#description_html");
    var desc_opened = false;
    !async function() {
        const md_desc_data = await fetch("/api/contests?id="+contestId).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"][contestId+"_md"];
        }).catch(e => { console.error(e); });
        const html_desc_data = await fetch("/api/contests?id="+contestId).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"][contestId+"_html"];
        }).catch(e => { console.error(e); });
        if (md_desc_data === "") {
            md_raw_description.innerText = "The markdown for the description goes here...";
            html_description.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
        } else {
            md_raw_description.innerText = md_desc_data;
            html_description.innerHTML = html_desc_data;
            document.querySelector("#md_inp_desc").value = md_desc_data;
            document.querySelector("#html_inp_desc").value = html_desc_data;
            renderLatex();
        } document.querySelector("#open_description").addEventListener("click", function() {
            let inp_desc_data = md_desc_data;
            if (desc_opened) inp_desc_data = md_raw_description.innerText;
            md2html_interactive(inp_desc_data).then((result) => {
                md_raw_description.innerText = result.md;
                html_description.innerHTML = result.html;
                renderLatex();
                document.querySelector("#md_inp_desc").value = result.md;
                document.querySelector("#html_inp_desc").value = result.html;
                if (!desc_opened) desc_opened = true;
            }).catch((e) => { console.error(e); });
        });
    } ();

    document.querySelectorAll(".dtl").forEach(function (e) {
        var split = e.getAttribute("value").split(" ");
        var dateSplit = split[0].split("-");
        var final = dateSplit[1] + "/" + dateSplit[2] + "/" + dateSplit[0] + " " + split[1];
        var parsed = new Date(final + " UTC").toString().split(" ");
        e.value = `${ parsed[3] }-${ getMonthFromString(parsed[1]) }-${ parsed[2] }T${ parsed[4] }`;

        function getMonthFromString(mon) {
            var str = (new Date(Date.parse(mon + " 1, 2012")).getMonth() + 1).toString();
            return str.length == 2 ? str : "0" + str;
        }
    });

    document.querySelector('#rated').addEventListener('change', function () {
        document.getElementById('weight').style.display = this.checked ? 'block' : 'none';
    });

    document.querySelector("form").onsubmit = function(event) {
        var formStart = this.querySelector("#start");
        var start = new Date(formStart.value).toISOString();
        formStart.setAttribute("type", "text");
        formStart.value = start;

        var formEnd = this.querySelector("#end");
        var end = new Date(formEnd.value).toISOString();
        formEnd.setAttribute("type", "text");
        formEnd.value = end;
    }
</script>
{% endblock %}
