{% extends "contest/layout.html" %}

{% block title %}Edit {{ data["name"] }}{% endblock %}
{% block active %}Contests{% endblock %}

{% block preload %}
<link rel="preload" href="/api/contest{% if data['private'] %}private{% else %}public{% endif %}/problem/description?cid={{ request.path.split('/')[2] }}&pid={{ request.path.split('/')[4] }}" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block main %}
<h1>Edit {{ data["name"] }}</h1>
<form autocomplete="off" method="post">
     <div class="form-floating">
        <input class="form-control mb-3"
               name="name"
               id="name"
               value="{{ data['name'] }}"
               placeholder="Name"
               required>
        <label for="name">Problem Name</label>
    </div>

    <button class="btn btn-secondary fw-bold" id="open_description" type="button">Open Markdown Editor</button>
    <div class="row" id="description" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Description</u></h4>
            <div id="description_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Description</u></h4>
            <div id="description_html"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_desc" name="description_md">
    <input type="hidden" id="html_inp_desc" name="description_html">

    <button class="btn btn-secondary fw-bold" id="open_hint" type="button">Open Markdown Editor</button>
    <div class="row" id="hint" style="margin-top: 7px;">
        <div class="col-sm">
            <h4><u>Raw Markdown - Hints</u></h4>
            <div id="hint_md_raw"></div>
        </div>
        <div class="col-sm">
            <h4><u>Resulting HTML - Hints</u></h4>
            <div id="hint_html" class="md-preview"></div>
        </div>
    </div> <hr>
    <input type="hidden" id="md_inp_hint" name="hints_md">
    <input type="hidden" id="html_inp_hint" name="hints_html">

    <div class="form-floating">
        <input class="form-control mb-3"
               name="category"
               id="category"
               value="{{ data['category'] }}"
               placeholder="Category"
               required>
        <label for="category">Category</label>
    </div>

    <div style="position: relative;">
        <div class="form-floating">
            <input class="form-control mb-3" id="answer" name="answer" placeholder="New Answer (optional)">
            <label for="flag">New Answer (optional)</label>
        </div>
        <div style="position: absolute; right: 0; top: 0; width: initial;" class="form-control">
            <input type="checkbox" id="rejudge" name="rejudge">
            <label for="rejudge">Rejudge?</label>
        </div>
    </div>

    <div class="form-floating">
        <input class="form-control mb-3"
               type="number"
               id="point_value"
               name="point_value"
               value="{{ data['point_value'] }}"
               placeholder="Point Value"
               {{ 'disabled' if data['score_users'] and data['score_users'] > 0 }}
               required>
        <label for="point_value">Point Value</label>
    </div>

{% if style=="guts" %}
    <div class="form-floating">
        <div id="guts_restrictions">
            <p>This problem is part of a contest that is marked as a guts type. Please select the problem id's that should be solved before viewing this problem. Multiple can be selected.</p>
            <div style="padding: 10px; border: 1px solid #DEE2E6; border-radius: 5px; height: 300px; overflow-y: scroll;">
                {% for problem in prob_list %}
                    <label class="check-container">
                        <input type="checkbox" name="selected_problems[]" value="{{ problem.split('(')[1].split(')')[0] }}" {{ 'checked' if problem.split('(')[1].split(')')[0] in requirements }}>
                        <span class="checkmark"></span>
                        {{ problem }}
                    </label><br>
                {% endfor %}
            </div>
        </div> <br>
    </div>
    <style>
        .check-container {
            display: block;
            position: relative;
            padding-left: 33px;
            cursor: pointer;
            font-size: 16px;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border: 1px solid #ccc;
        }

        .check-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .check-container input:checked + .checkmark:after {
            display: block;
        }

        .check-container .checkmark:after {
            left: 10px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    </style>
{% endif %}


    <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>    
    const contestId = "{{ request.path.split('/')[2] }}";
    const problemId = "{{ request.path.split('/')[4] }}";

    const md_raw_description = document.querySelector("#description_md_raw");
    const html_description = document.querySelector("#description_html");
    var desc_opened = false;
    !async function() {
        const md_desc_data = await fetch(`/api/contest{% if data['private'] %}private{% else %}public{% endif %}/problem?cid=${contestId}&pid=${problemId}`).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"]["description_md"];
        }).catch(e => { console.error(e); });
        const html_desc_data = await fetch(`/api/contest{% if data['private'] %}private{% else %}public{% endif %}/problem?cid=${contestId}&pid=${problemId}`).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"]["description_html"];
        }).catch(e => { console.error(e); });
        if (md_desc_data === "") {
            md_raw_description.innerText = "The markdown for the description goes here...";
            html_description.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
        } else {
            md_raw_description.innerText = md_desc_data;
            html_description.innerHTML = html_desc_data;
            document.querySelector("#md_inp_desc").value = md_desc_data;
            document.querySelector("#html_inp_desc").value = html_desc_data;
            renderLatex();
        } document.querySelector("#open_description").addEventListener("click", function() {
            let inp_desc_data = md_desc_data;
            if (desc_opened) inp_desc_data = md_raw_description.innerText;
            md2html_interactive(inp_desc_data).then((result) => {
                md_raw_description.innerText = result.md;
                html_description.innerHTML = result.html;
                renderLatex();
                document.querySelector("#md_inp_desc").value = result.md;
                document.querySelector("#html_inp_desc").value = result.html;
                if (!desc_opened) desc_opened = true;
            }).catch((e) => { console.error(e); });
        });
    } ();

    const md_raw_hint = document.querySelector("#hint_md_raw");
    const html_hint = document.querySelector("#hint_html");
    var hint_opened = false;
    !async function() {
        const md_hint_data = await fetch(`/api/contest{% if data['private'] %}private{% else %}public{% endif %}/problem?cid=${contestId}&pid=${problemId}`).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"]["hints_md"];
        }).catch(e => { console.error(e); });
        const html_hint_data = await fetch(`/api/contest{% if data['private'] %}private{% else %}public{% endif %}/problem?cid=${contestId}&pid=${problemId}`).then(b => b.text())
        .then(b => JSON.parse(b)).then(b => {
            if (b['status'] !== "success") {
                console.log(`API fail: status: ${b["status"]}, message: ${b["message"]}`);
                return;
            } return b["data"]["hints_html"];
        }).catch(e => { console.error(e); });
        if (md_hint_data === "") {
            md_raw_hint.innerText = "The markdown for the hint goes here...";
            html_hint.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
        } else {
            md_raw_hint.innerText = md_hint_data;
            html_hint.innerHTML = html_hint_data;
            renderLatex();
            document.querySelector("#md_inp_hint").value = md_hint_data;
            document.querySelector("#html_inp_hint").value = html_hint_data;
        } document.querySelector("#open_hint").addEventListener("click", function() {
            let inp_hint_data = md_hint_data;
            if (hint_opened) inp_hint_data = md_raw_hint.innerText;
            md2html_interactive(inp_hint_data).then((result) => {
                md_raw_hint.innerText = result.md;
                html_hint.innerHTML = result.html;
                renderLatex();
                document.querySelector("#md_inp_hint").value = result.md;
                document.querySelector("#html_inp_hint").value = result.html;
                if (!hint_opened) hint_opened = true;
            }).catch((e) => { console.error(e); });            
        });
    } ();
</script>
<script src="/assets/js/renderKatex.js"></script>
{% endblock %}
