{% extends "layout.html" %}

{% block contest_leaderboard %}
<li><a class="nav-link" href="{{ '/'.join(request.path.split('/')[:3]) }}/scoreboard">Contest Rankings</a></li>
{% endblock %}
{% block post_main %}
{% if time_left and not ended %}
<div class="floating-widget" id="floatingWidget">
    <div class="widget-header" style="font-size: 20px;">
        <span >Time left: </span>
        <strong><strong><span class="time-left" id="timer"></span></strong></strong>
    </div>
</div>
{% endif %}
<script>
    function windowAlert() {
        var saveConfirmation = document.createElement("div");
        saveConfirmation.id = "saveConfirmation";
        saveConfirmation.textContent = "Your time window of {{ time_left }} has started.";
        saveConfirmation.style.backgroundColor = "#f8f9fa";
        saveConfirmation.style.padding = "10px";
        saveConfirmation.style.border = "2px solid black";
        saveConfirmation.style.borderRadius = "5px";
        saveConfirmation.style.marginBottom = "20px";
        saveConfirmation.style.textAlign = "center";
        saveConfirmation.style.fontSize = "18px";
        saveConfirmation.style.fontWeight = "bold";
        saveConfirmation.style.position = "sticky";
        saveConfirmation.style.zIndex = "99999";
        saveConfirmation.style.top = "0";
        saveConfirmation.style.animation = "flash-blue 2.5s infinite";

        var saveButton = document.createElement("button");
        saveButton.type = "submit"; // Change the button type to "submit"
        saveButton.textContent = "Close this alert";
        saveButton.classList.add("btn", "btn-info", "btn-lg", "mr-2");
        saveButton.style.marginRight = "10px";
        saveButton.style.marginLeft = "10px";
        saveButton.addEventListener("click", function() {
            saveConfirmation.style.display = "none";
        });

        saveConfirmation.appendChild(saveButton);

        var body = document.querySelector("body");
        body.insertBefore(saveConfirmation, body.firstChild);
    }

    let timerElement = document.querySelector('#timer');
    let floatingWidget = document.querySelector('#floatingWidget');
    
    let hours = 0;
    let minutes = 0;
    let seconds = 0;
    timerElement.textContent = '{{ time_left }}';
    document.querySelector("#floatingWidget").style.animation = "grow-shrink ease-in-out 2s infinite";
    {% if first_time %}
        windowAlert();
    {% endif %}
    let timerInterval = setInterval(decrementTimer, 500);
    
    function updateTimer() {
        timerElement.textContent = `${String(Math.max(hours, 0)).padStart(2, '0')}:${String(Math.max(minutes, 0)).padStart(2, '0')}:${String(Math.max(seconds, 0)).padStart(2, '0')}`;;
    }

    function decrementTimer() {
        function formatDate(raw) {
            var split = raw.split(" ");
            var date_split = split[0].split("-");
            var final = date_split[1] + "/" + date_split[2] + "/" + date_split[0] + " " + split[1];
            return new Date(final + " UTC");
        }

        let currentTime = new Date();
        var endTime = formatDate("{{ end_time }}")
        let timeDiff = Math.floor((endTime - currentTime) / 1000); // time difference in seconds
        var contest_end_time = formatDate("{{ end_time_contest }}");
        if (timeDiff <= 0 || currentTime == contest_end_time) {
            clearInterval(timerInterval);
            {% if not check_perm(["ADMIN", "SUPERADMIN", "CONTENT_MANAGER"]) %}
                alert('Time is up!');
                window.location.href = '/contests';
            {% endif %}
        } else {
            hours = Math.floor(timeDiff / 3600);
            minutes = Math.floor((timeDiff % 3600) / 60);
            seconds = timeDiff % 60;
            updateTimer();
        }
    }
    
    // Make the widget draggable
    dragElement(floatingWidget);
    
    function dragElement(element) {
        let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(element.id + '-header')) {
            // if present, the header is where you move the DIV from:
            document.getElementById(element.id + '-header').onmousedown = dragMouseDown;
        } else {
            // otherwise, move the DIV from anywhere inside the DIV:
            element.onmousedown = dragMouseDown;
        }
    
        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }
    
        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            let newTop = element.offsetTop - pos2;
            let newLeft = element.offsetLeft - pos1;
            let maxTop = window.innerHeight - element.offsetHeight;
            let maxLeft = window.innerWidth - element.offsetWidth;
            element.style.top = Math.max(0, Math.min(newTop, maxTop)) + 'px';
            element.style.left = Math.max(0, Math.min(newLeft, maxLeft)) + 'px';
        }
    
        function closeDragElement() {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
</script>
{% endblock %}