{% extends "layout.html" %}

{% block title %}Edit Profile{% endblock %}

{% block active %}Edit Profile{% endblock %}

{% block main %}
<h1>Edit Profile</h1>
<form autocomplete="off" method="post">
    <button title="Standard markdown and latex is supported." class="btn btn-secondary fw-bold" id="open_prof" type="button">Open Markdown Editor</button><br><br>
        <div class="col-sm">
            <h4><u>Raw Markdown - Profile</u></h4>
            <div id="profile_md_raw"></div>
        </div><hr>
        <div class="col-sm">
            <h4><u>Resulting HTML - Profile</u></h4>
            <div id="profile_html"></div>
        </div>
    <hr>
    <input type="hidden" id="md_inp_prof" name="profile_md">
    <input type="hidden" id="html_inp_prof" name="profile_html">
    <input class="btn btn-primary fw-bold" type="submit" id="submit" name="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}
{% block script %}
<script>
    const uid = "{{ user_data["id"] }}";
    const md_raw_profile = document.querySelector("#profile_md_raw");
    const html_profile = document.querySelector("#profile_html");
    var profile_opened = false;
    !async function() {
        var md_prof_data, html_prof_data;
        const apiResponse = await fetch("/api/profile?id=" + uid)
        .then((response) => response.json()).catch((error) => {
            console.error(error);
            throw error;
        }); if (apiResponse['status'] !== "success") {
            console.log(`API fail: status: ${apiResponse["status"]}, message: ${apiResponse["message"]}`);
        } else {
            md_prof_data = apiResponse["data"]["profile_md"];
            html_prof_data = apiResponse["data"]["profile_html"];
        } if (md_prof_data === "") {
            md_raw_profile.innerText = "The markdown for the description goes here...";
            html_profile.innerHTML = "<p>...and rendered <b>HTML</b> goes <i>here</i>.</p";
        } else {
            md_raw_profile.innerText = md_prof_data;
            html_profile.innerHTML = html_prof_data;
            document.querySelector("#md_inp_prof").value = md_prof_data;
            document.querySelector("#html_inp_prof").value = html_prof_data;
            renderLatex();
        } document.querySelector("#open_prof").addEventListener("click", function() {
            let inp_desc_data = md_prof_data;
            if (profile_opened) inp_desc_data = md_raw_profile.innerText;
            md2html_interactive(inp_desc_data).then((result) => {
                md_raw_profile.innerText = result.md;
                html_profile.innerHTML = result.html;
                renderLatex();
                document.querySelector("#md_inp_prof").value = result.md;
                document.querySelector("#html_inp_prof").value = result.html;
                if (!profile_opened) profile_opened = true;
            }).catch((e) => { console.error(e); });
        });
    } ();
</script>
{% endblock %}